%h2 What the purpose of this site?
%p
Blah blah blah blah
%h2 When does it all end?
%p
Blah blah blah blah
%h2 What's the deal with pairwise comparisons?
%p
Blah blah blah blah
%h2 How can I contribute?
%p
More blah
