%html{:xmlns => "http://www.w3.org/1999/xhtml", :'xml:lang' => "en", :lang => "en"}
  %head 
    %meta{:'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %meta{:NAME =>"ROBOTS", :CONTENT => "NOINDEX, NOFOLLOW"}
  %body
    .aboutpage{:style => 'width:500px'}
      %p=t('about_page.intro')
  
      %h3="1) " + t('about_page.how_many_votes_q')
      %p= t('about_page.how_many_votes_exp')
      
      %h3="2) " + t('about_page.how_many_ideas_q')
      %p=t('about_page.how_many_ideas_exp')

      %h3="3) " + t('about_page.view_results_q') 
      %p= t('about_page.view_results_exp')
  
      %h3="4) " + t('about_page.make_my_own_q')
      %p=t('about_page.make_my_own_exp')
    
