<div id="chart-data" data-chart-data="<%= @chart_data.to_json %>" data-type="<%= @type %>" data-choice-url-template="<%= @choice_url_template %>"></div>
<canvas id="<%= @type %>-chart-container"></canvas>