- @item_count = @question.attributes['item_count'] - @question.attributes["inactive_choices_count"]
- @votes_count = @question.attributes['votes_count'].to_i
= t('common.X_votes_on_Y_ideas',
      :votes_count => @votes_count,
      :ideas_count => @item_count,
      :"1" => '<span id="votes_count">',
      :"_1" => "</span>",
      :"2" => '<span id="item_count">',
      :"_2" => '</span>').html_safe
