.container_16
  #primary_content
    #hd.center
      %h1.no_margin
        =h @question.name
      %p.gray
        Click on the best photo to vote! 
        =link_to 'How does this work?', '#'
      #prompt
        =render(:partial => 'questions/prompt')
    .center.margin_bottom
      =link_to 'Add your own Photo', "#", :class => 'blue button'
      <br /><br />
      =link_to "I can't decide", "#"
.container_12
  #secondary_content
    .grid_4
      %h5.no_margin
        Your <span id="visitor_votes">0</span> votes
        %span.normal (average is 12)
      .padding
        %ul.your_votes
          %li
            =image_tag "test1_small.jpg", :style => "opacity:.5;"
            =image_tag "test2_small.jpg"
            2 seconds ago
          %li
            =image_tag "test1_small.jpg", :style => "opacity:.5;"
            =image_tag "test2_small.jpg"
            2 seconds ago
          %li
            =image_tag "test1_small.jpg", :style => "opacity:.5;"
            =image_tag "test2_small.jpg"
            2 seconds ago
    .grid_4.center
      %h5.no_margin 232 votes on 134 photos
      .padding
        =link_to "View all Results", "#", :class => 'button'
    .grid_4
      %h5.no_margin About this survey
      .padding
        .margin_bottom.center
          =image_tag "alum_logo.png", :width => 100, :height => 100
          <br />
          Organized by<br />
          %strong Princeton Alumni Association
        .clear
        .center
          =image_tag "footer_logos.png", :width => 113, :height => 50
          <br />
          %strong
            Powered by 
            =link_to "photocracy.org", "#"
          <br />
          Photocracy is supported by grants from Google<br />
          and CITP at Princeton University.
  .clear