.container_16
  .blue_fade
    .grid_16
      .padding{:style => 'padding:30px; font-size: 18px;'}
        %p Thank you for your interest, but we have ended the photocracy.org research project.

        %p You can visit our sister project: <a href="http://www.allourideas.org">www.allourideas.org</a>

        %p Finally, all the code that powered photocracy.org is open-source, and you can find it on here: <a href="https://github.com/allourideas">https://github.com/allourideas</a>
    .clear
