
.container_12
  %h1 Welcome to Photocracy
  .grid_6
    
    %h6.no_margin= t('home.whats_this')
    %p
      =t('home.whats_this_txt')
      %br
      / =link_to(t('home.learn_more'), about_path)
  
    %h6.no_margin= t('home.how_does')
    %p
      =t('home.how_does_txt')
      %br
      / =link_to(t('home.see_an_example'), "/example")
      
  .grid_6{:style => 'padding-top:0', :class => 'center'}
    %p
      / =link_to(t('home.get_started'), new_question_path, :class => 'button blue')
      %span{:class => 'button blue'} Coming Soon!

    %p
      Photocracy will be launching shortly, in the meantime checkout our platform for prioritizing text ideas:
      =link_to 'All Our Ideas', "http://www.allourideas.org"
      / =t('home.get_started_txt')
  
  .clear