-@the_id = params[:question_id].nil? ? params[:id] : params[:question_id]

//  Navigation bar
= render :partial => 'shared/header_vote', :locals => {:question => @question}
#cast_votes.current
  = render 'cast_votes.html.haml'
#results{:style => 'display:none'}
  #render_spot
  //  = render 'questions/results.html.haml'
  /* Need to add an actual link to more results */
  .bottom_status
    // for some mysterious reason, these don't work anymore
    //-@results_url = url_for(:action => :results, :controller => :questions, :id => @the_id)
    //-@cast_votes_url = url_for(:action => :show, :controller => :earls, :id => @the_id) 
    &nbsp
    .bottom_padding.fleft
      = link_to('View More Results', @results_url) 
    //  add the last two tab classes below to make use of already existing javascript
    %a{:href => '#page1'}
      .bottom_padding.fright.return_voting
        Return to Voting
    -# ^bad style here; i should probably have this text in some file elsewhere*/
#about{:style => 'display:none'}
  = render 'questions/about.html.haml'
