!!! 1.0
%html{:xmlns => "http://www.w3.org/1999/xhtml", :'xml:lang' => "en", :lang => "en"}
  %head
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    %title Photocracy
    =stylesheet_link_tag 'photocracy/reset', 'photocracy/text', 'photocracy/grid', 'photocracy/jquery-ui'
    /[if IE 6] 
      =stylesheet_link_tag 'photocracy/ie6'
    /[if IE 7] 
      =stylesheet_link_tag 'photocracy/ie'
    =stylesheet_link_tag 'photocracy/application'
    =javascript_include_tag 'photocracy/jquery.min', 'photocracy/jquery-ui.min', 'photocracy/application', 'photocracy/jquery.timeago', 'photocracy/ajaxupload.3.9'
    :javascript 
      var AUTH_TOKEN = #{form_authenticity_token.inspect};
      var PAGE_LOADED_AT = new Date();
      var RAILS_LOCALE = '#{I18n.locale}';
    :javascript
      $(document).ready(function(){
        $("abbr.timeago").timeago();
      });
  %body
    %h1
    .container_16
      =yield
    .container_12
      #ft
        Powered by
        =link_to "Photocracy.org", '#'
        \-
        =link_to "About this project", '#'
        \-
        =link_to "View open source code", '#'
        \-
        =link_to "Privacy Policy", '#'
        \-
        =link_to "Help", '#'
        \-
        =link_to "Create your own survey", '#'
