log/*
tmp/**/*
db/*.sqlite3
public/system
*.DS_Store
coverage/*
*.swp
todo
!.keep
ideas
ideas.xml
.sass-cache
tmp/*
doc/api
doc/app
*~
.rvmrc
.bundle
bin/
vendor/ruby

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep


# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

#/public/assets

# Ignore master key for decrypting credentials and more.
/config/master.key
/startWithEnv.sh
config/credentials.yml.enc
