export AOI_MYSQL_USER=
export AOI_MYSQL_PASSWORD=
export AOI_MYSQL_HOST=
export AOI_MYSQL_DATABASE=aoi_web_development
export RAILS_MASTER_KEY=
export HOST=
export API_HOST=
export PAIRWISE_USERNAME=
export PAIRWISE_PASSWORD=
export INFO_ALLOURIDEAS_EMAIL=
export SIGNUPS_ALLOURIDEAS_EMAIL=
export INFO_PHOTOCRACY_EMAIL=
export PHOTOCRACY_HOST=
export SURVEY_SESSION_SECRET=
export S3_KEY=
export S3_ID=
export S3_BUCKET=
export SENDGRID_API_KEY=
export GOOGLE_ANALYTICS_TRACKER_ID=
export RAILS_CREDENTIALS=
rails s -p 3072
aoi_pairwise_development