export AOI_MYSQL_USER=root
export AOI_MYSQL_PASSWORD=b
export AOI_MYSQL_HOST=localhost
export AOI_MYSQL_DATABASE=aoi_web_development
export RAILS_MASTER_KEY=
export HOST=localhost
export API_HOST=http://localhost:3072
export PAIRWISE_USERNAME=robert@citizens.is
export PAIRWISE_PASSWORD=password
export INFO_ALLOURIDEAS_EMAIL=citizens@citizens.is
export SIGNUPS_ALLOURIDEAS_EMAIL=citizens@citizens.is
export SURVEY_SESSION_SECRET=
export RAILS_CREDENTIALS=
rails db:migrate
