<P>Someone, hopefully you, has requested that we send you a link to change your password.</p>

<p>Here's the link:</p>

<a href="<%= edit_user_password_url(user,
      :token  => user.confirmation_token,
      :escape => false) %>"><%= edit_user_password_url(user,
      :token  => user.confirmation_token,
      :escape => false).html_safe %></a>

<p>If you didn't request this, ignore this email. Don't worry. Your password hasn't been changed.</p>

<p>Thanks,</p>
<%= render :partial => 'idea_mailer/signature' %>
