<p><%= t(".opening") %></p>

<p>
  <%= link_to t(".link_text", default: "Change my password").html_safe,
    url_for([user, :password, action: :edit, token: user.confirmation_token]).html_safe %>
</p>

<p><%= t(".closing") %></p>
