AOI_MYSQL_USER=
AOI_MYSQL_PASSWORD=
AOI_MYSQL_HOST=
AOI_MYSQL_DATABASE=aoi_web_development
RAILS_MASTER_KEY=
HOST=
API_HOST=
PAIRWISE_USERNAME=
PAIRWISE_PASSWORD=
INFO_ALLOURIDEAS_EMAIL=
SIGNUPS_ALLOURIDEAS_EMAIL=
INFO_PHOTOCRACY_EMAIL=
PHOTOCRACY_HOST=
SURVEY_SESSION_SECRET=
S3_KEY=
S3_ID=
S3_BUCKET=
SENDGRID_API_KEY=
GOOGLE_ANALYTICS_TRACKER_ID=
RAILS_LOG_TO_STDOUT=true
