PAIRWISE_MYSQL_USER=
PAIRWISE_MYSQL_PASSWORD=
PAIRWISE_MYSQL_HOST=127.0.0.1
PAIRWISE_MYSQL_PORT=3306
RAILS_LOG_TO_STDOUT=true
PAIRWISE_USERNAME=
PAIRWISE_PASSWORD=
PAIRWISE_MYSQL_DATABASE=pairwise_api_development
RAILS_MASTER_KEY=
