* {
  margin: 0 auto;
  padding: 0; }

a {
  text-decoration: none;
  color: #54afe2; }
  a img, a:active {
    border: none; }

/*  a:hover {
 *  border-bottom: 1px dotted #54afe2; } */
.fleft {
  float: left; }

.fright {
  float: right; }

.center {
  text-align: center; }

.clear {
  clear: both; }

.grey, label {
  color: #555555; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 437.5px;
  color: #555555;
  line-height: 16pt; }

h1, h2, h3, h4, h5, h6, .large-text {
  color: #797979; }

p, h1, h2, h3, h4, h5, h6, table, .large-text {
  padding: 5px 0px; }

h1 {
  font-size: 20px; }

h2, .large-text {
  font-size: 16px;
  font-weight: normal; }

h3 {
  font-size: 14px;
  font-weight: normal; }

h4 {
  font-size: 12px;
  font-weight: normal; }

ul li {
  margin-left: 20px; }

.full {
  width: 100%; }

.half {
  width: 50%; }

.ninety {
  width: 90%; }

input.text {
  border: 1px solid #555555;
  padding: 3px 3px 2px; }

.padding {
  margin: 5px 0px; }

table {
  text-align: left;
  border-collapse: collapse; }
  table .header_padding {
    padding: 5px; }
  table .idea_padding {
    padding: 2.5px 5px 2.5px 5px; }
  table .row0 {
    background-color: #3198c1;
    color: white; }
    table .row0 td.idea {
      width: 67.5%; }
  table .row1 {
    background-color: #fafafa; }
  table .row2 {
    background-color: #fefefe; }
  table .thin td {
    padding: 2px 5px;
    height: 2px; }
  table.recent-winners td {
    text-align: center; }
  table.item td:last-child {
    font-weight: bold; }
  table.left {
    margin: 0; }
  table.signup td {
    max-width: 400px; }
  table .score {
    padding-right: 5px; }

.create-question h2 {
  padding-bottom: 0px; }
.create-question p {
  padding: 15px 25px;
  font-size: 14px; }
  .create-question p.ideas {
    padding-bottom: 10px;
    padding-right: 400px; }
.create-question .fieldWithErrors {
  padding: 2px 0 3px;
  border: 1px solid #ff6464; }

.errorExplanation {
  color: white;
  background: #ff6464;
  padding: 8px 5px;
  border: 1px solid black; }
  .errorExplanation h2 {
    color: white; }
  .errorExplanation ul li {
    margin-left: 40px; }

.header {
  padding: 30px 5px 15px 5px;
  border-bottomf: 1px solid #f4f5f6; }
  .header .fright {
    padding-top: 18px; }
    .header .fright ul li {
      list-style-type: none;
      float: left;
      font-size: 14px;
      text-transform: uppercase;
      margin: 0; }
      .header .fright ul li a {
        padding: 5px 20px;
        color: #54afe2; }
        .header .fright ul li a:hover {
          border-top: 1px dotted #54afe2;
          border-bottom: 1px dotted #54afe2; }
        .header .fright ul li a.down {
          color: #555555; }
  .header a.logo:hover {
    border: none; }

.bread-crumb {
  color: #54afe2; }

/* ended up adding border to scrollbar div at bottom */
.body {
  margin: 1px 0px;
  padding: 0px 0px 0px; }

.triple-left, .triple-center, .triple-right, .double-left {
  float: left; }

.noborder {
  border: none; }

.image-example {
  border: 2px solid #eeeeee;
  width: 250px;
  margin: 0px 0px 10px; }

.button {
  border: 1px solid #3198c1;
  width: 125px;
  padding: 2px 0px;
  background-color: #54afe2;
  text-align: center;
  float: left; }

.button-link {
  color: white; }

.button:hover {
  border: 1px solid #3198c1; }

.triple-left {
  border-right: 1px dotted #d8dbdc;
  padding: 0px 15px 2px 0px;
  width: 264px; }

.triple-center {
  border-right: 1px dotted #d8dbdc;
  padding: 0px 15px 2px 15px;
  width: 249px; }

.triple-right {
  padding: 0px 0px 2px 15px;
  width: 265px; }

.double-left {
  padding: 0px 15px 2px 0px;
  width: 545px; }

.votebox {
  width: 98.5%;
  float: center; }

.votebox table {
  text-align: center; }
  .votebox table td.idea {
    cursor: pointer; }
  .votebox table td.left {
    padding: 0 2.5px 0 0; }
  .votebox table td.right {
    padding: 0 0 0 2.5px; }
  .votebox table td .round-filledfg {
    font-size: 12.8px;
    padding: 0 2px; }
    .votebox table td .round-filledfg a {
      color: white;
      border: none; }
      .votebox table td .round-filledfg a:hover {
        color: white;
        border: none; }
  .votebox table td .five_padding {
    padding: 5px; }
  .votebox table td table td {
    height: 107.5px; }
  .votebox table.vote-footer {
    width: 100%; }
    .votebox table.vote-footer td:first-child {
      text-align: left; }
    .votebox table.vote-footer td:last-child {
      text-align: right; }

.skip {
  margin: 10px 0; }

.footer {
  padding: 10px 5px;
  border-top: 1px solid #f4f5f6; }
  .footer .triple-left, .footer .triple-center, .footer .triple-right {
    font-size: 10px;
    line-height: 12pt;
    color: #aaaaaa; }
  .footer img {
    padding-right: 10px;
    float: left; }
  .footer p {
    float: right;
    padding: 0; }
  .footer .triple-left p {
    width: 153px; }
  .footer .triple-center p {
    width: 205px; }
  .footer .triple-right p {
    width: 220px; }

.bar-chart {
  border: 1px solid #cccccc;
  width: 95px;
  margin: 0 auto;
  padding: 1px;
  background: white; }
  .bar-chart > div {
    background-color: #797979;
    height: 12px;
    margin: 0; }

hr {
  border: none;
  border-bottom: 1px dotted #bbbbbb;
  margin: 0 0 15px 0; }

/* modified this */
.add-box {
  width: 375px;
  margin-top: 10px; }
  .add-box textarea {
    border: none;
    width: 362.5px; }

input, textarea {
  font-size: 13px;
  color: #555555;
  font-family: Arial, Helvetica, sans-serif; }

.form-btn {
  color: black; }

.error, .notice, .vote-notice {
  color: white;
  background-color: #ff6464;
  margin: -10px 10em 25px;
  text-align: center;
  font-size: 13px; }

.notice {
  background-color: #ffffcc;
  border: 1px solid #797979;
  color: #797979;
  text-align: left;
  padding: 5px 10px;
  margin: 0 40px 25px; }
  .notice span.close {
    display: block;
    text-align: right; }
    .notice span.close:hover {
      border: none; }

.vote-notice {
  background-color: #00bb00; }

#initial_notice {
  text-align: center; }

.border *, .border-thick *, .round-filled *, .round-filled-grey * {
  font-size: 0.01px;
  line-height: 0.01px;
  display: block;
  height: 1px;
  overflow: hidden;
  padding: 0px; }

.border-top, .border-bottom, .border2, .round-filled-top, .round-filled-bottom, .round-filled-grey-top, round-filled-grey-top {
  padding-left: 1px;
  padding-right: 1px; }

.border-top, .border-bottom {
  margin-left: 3px;
  margin-right: 3px; }

.border-top {
  border-bottom: 1px solid #e9e9e9; }

.border-bottom {
  border-top: 1px solid #e9e9e9; }

.border2, .border3, .border4, .border5, .borderfg {
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9; }

.border2, .border3 {
  margin-left: 1px;
  margin-right: 1px; }

.border-thick-top {
  border-bottom: 2px solid #e9e9e9; }

.border-thick-bottom {
  border-top: 2px solid #e9e9e9; }

.border-thick2, .border-thick3, .border-thick4, .border-thick5, .border-thickfg {
  border-left: 2px solid #e9e9e9;
  border-right: 2px solid #e9e9e9; }

.round-filled-top, .round-filled-bottom {
  margin-left: 3px;
  margin-right: 3px;
  border-left: 1px solid #3198c1;
  border-right: 1px solid #3198c1;
  background: #3198c1; }

.round-filled-grey-top, .round-filled-grey-bottom {
  margin-left: 3px;
  margin-right: 3px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  background: #cccccc; }

.round-filled-grey2, .round-filled-grey3, .round-filled-grey4, .round-filled-grey5, .round-filled-greyfg {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  background: #cccccc;
  color: #686868; }

.round-filled2, .round-filled3, .round-filled4, .round-filled5, .round-filledfg {
  border-left: 1px solid #3198c1;
  border-right: 1px solid #3198c1;
  background: #3198c1; }

.round-filled2, .round-filled3, .round-filled-grey2, .round-filled-grey3 {
  margin-left: 1px;
  margin-right: 1px; }

.toggle_question_status, .toggle_choice_status, .toggle_autoactivate_status {
  text-align: center;
  color: white;
  cursor: pointer;
  line-height: 14px; }

div.form_field {
  position: relative;
  float: left; }

label.over-apply {
  color: #cccccc;
  position: absolute;
  top: 0px;
  left: 5px; }

table.tablesorter {
  font-family: arial;
  margin: 10px 0pt 15px;
  font-size: 8pt;
  width: 100%;
  text-align: left; }
  table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    border: 1px solid white;
    font-size: 8pt;
    padding: 4px 20px 4px 4px; }
  table.tablesorter thead tr .header {
    background-image: url("/images/bg.gif");
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer; }
  table.tablesorter tbody td {
    color: #3d3d3d;
    padding: 4px;
    vertical-align: top; }
  table.tablesorter tbody tr.odd td {
    background-color: #fafafa; }
  table.tablesorter tbody tr.even td {
    background-color: #fefefe; }
  table.tablesorter thead tr .headerSortUp {
    background-image: url("/images/asc.gif"); }
  table.tablesorter thead tr .headerSortDown {
    background-image: url("/images/desc.gif"); }
  table.tablesorter thead tr .headerOver {
    background-color: #8dbdd8; }

.twenty_pixel_font {
  font-size: 20px; }

.sixteen_pixel_font {
  font-size: 16px; }

.twelve_pixel_font {
  font-size: 12px; }

.active {
  color: black; }

.firsttime {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #4dbae6;
  color: #185b75;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #1f7293;
  padding: 4px;
  margin-bottom: 8px;
  display: none; }

.wider {
  color: black; }
  .wider td {
    padding: 5px !important; }
    .wider td.no_bottom_padding {
      padding-bottom: 0px !important; }
    .wider td.no_top_padding {
      padding-top: 0px !important;
      vertical-align: top; }
  .wider h2 {
    font-weight: bold;
    color: #3198c1; }

#cant_decide_options {
  width: 95%;
  text-align: center;
  font-size: 12px; }

#cant_decide_options table {
  text-align: left; }

#cd_button {
  background: #c5c5c5;
  padding: 5px 10px 5px 10px; }
  #cd_button a {
    color: white;
    display: block;
    font-size: 12.8px; }
  #cd_button:hover {
    background-color: #b1b1b1; }

#cd_button_fr {
  background: #c5c5c5; }
  #cd_button_fr a {
    color: white;
    display: block;
    font-size: 12.8px; }
  #cd_button_fr:hover {
    background-color: #b1b1b1; }

.cd_submit_button {
  width: 40px;
  padding: 5px 10px 5px 10px;
  background: #01bb00;
  cursor: pointer;
  color: white; }
  .cd_submit_button:hover {
    background-color: #228b53; }

.add_idea {
  margin: 5px 0px 0px 0px; }
  .add_idea .add_idea_button {
    padding: 5px 10px 5px 10px;
    width: 132.5px;
    height: 1.5em;
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 12.8px;
    cursor: pointer;
    background: #01bb00; }
    .add_idea .add_idea_button a {
      color: white; }
    .add_idea .add_idea_button:hover {
      background: #228b53; }

#facebox {
  cursor: move; }

.new_idea_submit, .flag_submit_button {
  width: 40px;
  padding: 5px 10px 5px 10px;
  background: #01bb00;
  cursor: pointer;
  color: white; }
  .new_idea_submit:hover, .flag_submit_button:hover {
    background-color: #228b53; }

.no_bottom_padding {
  padding-bottom: 0px !important; }

.pagination {
  text-align: center;
  padding: 0.3em; }
  .pagination a {
    padding: 0.2em 0.5em; }
  .pagination span {
    padding: 0.2em 0.5em; }
    .pagination span.disabled {
      color: #aaaaaa; }
    .pagination span.current {
      font-weight: bold; }
  .pagination a {
    border: 1px solid #dddddd;
    text-decoration: none; }
    .pagination a:hover, .pagination a:focus {
      border-color: #003366;
      background: #3198c1;
      color: white; }
  .pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .pagination .prev_page, .pagination .next_page {
    border-width: 2px; }
  .pagination .prev_page {
    margin-right: 1em; }
  .pagination .next_page {
    margin-left: 1em; }

/* this is all me after this... */
#radio_button {
  padding-right: 10px; }

#wide_column {
  width: 50%; }

#narrow_column {
  width: 40%; }

#user_cd_reason {
  width: 145px; }

.user_cd_reason {
  padding-left: 2px; }

.scrollbar_container {
  width: 425px;
  height: 340px;
  border: 4px solid #3198c1; }

.bottom_status {
  height: 22px;
  border: 4px solid #3198c1;
  border-top: 0px;
  width: 425px;
  text-align: center;
  background-color: #3198c1;
  color: white; }

.link_style a {
  color: white;
  font-weight: bold; }
  .link_style a:hover {
    font-weight: bolder;
    text-decoration: underline; }

.tellmearea {
  font-size: 14px; }

.close_and_submit {
  margin-top: 5px; }

.bottom_padding {
  padding-left: 5px;
  padding-right: 5px; }

.aboutpage {
  padding-left: 5px;
  padding-right: 5px; }

.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  border-color: #3198c1; }
  .tabs .current_tab {
    font-weight: bold;
    background-color: #3198c1; }
    .tabs .current_tab a {
      color: white; }
    .tabs .current_tab:hover {
      background-color: #3198c1;
      border-color: #3198c1; }
  .tabs li {
    display: inline;
    float: left;
    border-top: 4px solid #3198c1;
    border-left: 4px solid #3198c1;
    border-right: 4px solid #3198c1;
    margin: 0 1px 0 0px;
    padding-left: 5px;
    padding-right: 5px; }
    .tabs li a {
      outline: none;
      display: block;
      color: #3198c1;
      font-weight: bold; }
    .tabs li:hover {
      background-color: #a3d4e8;
      border-color: #a3d4e8; }

.vote-nav {
  width: 433px;
  font-size: 12px; }

.question {
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  font-size: 16px;
  width: 395px;
  color: black; }

#new_idea_field {
  font-size: 12px; }

.idea_result {
  color: #555555;
  width: 67.5%; }

.faq a {
  padding-left: 5px; }

.showmespace {
  margin-top: 10px; }

.new_text_field {
  height: 32px; }

.new_tellme_text {
  margin-top: 5px; }

#flag_inappropriate {
  width: 375px; }
  #flag_inappropriate textarea {
    border: none;
    width: 362.5px; }

.vote-footer {
  margin: 5px 0px 0px 0px; }
  .vote-footer a {
    color: white; }

.top_margin {
  margin-top: 5px; }
