.term-cloud {font-family: arial; font-size: 10px; }
.term-cloud-1 {font-size: 10px; color: #95cce2; }
.term-cloud-2 {font-size: 14px; color: #8ac2d8; }
.term-cloud-3 {font-size: 18px; color: #81bad1; }
.term-cloud-4 {font-size: 22px; color: #75afc6; }
.term-cloud-5 {font-size: 26px; color: #64a0b8; }
.term-cloud-6 {font-size: 32px; color: #5492aa; }
.term-cloud-7 {font-size: 36px; color: #4987a0; }
.term-cloud-8 {font-size: 40px; color: #3d7c95; }
.term-cloud-9 {font-size: 44px; color: #33738d; }
.term-cloud-error {font-family: arial; font-size: 10px; color: red; }
.term-cloud-link {text-decoration: none; cursor:default;}
