/* line 11, app/assets/stylesheets/widget/sass/screen.sass */
* {
  margin: 0 auto;
  padding: 0;
}

/* line 15, app/assets/stylesheets/widget/sass/screen.sass */
a {
  text-decoration: none;
  color: #54afe2;
}

/* line 18, app/assets/stylesheets/widget/sass/screen.sass */
a img, a:active {
  border: none;
}

/*  a:hover {
 *  border-bottom: 1px dotted #54afe2; } */
/* line 24, app/assets/stylesheets/widget/sass/screen.sass */
.fleft {
  float: left;
}

/* line 27, app/assets/stylesheets/widget/sass/screen.sass */
.fright {
  float: right;
}

/* line 30, app/assets/stylesheets/widget/sass/screen.sass */
.center {
  text-align: center;
}

/* line 33, app/assets/stylesheets/widget/sass/screen.sass */
.clear {
  clear: both;
}

/* line 36, app/assets/stylesheets/widget/sass/screen.sass */
.grey, label {
  color: #555555;
}

/* line 39, app/assets/stylesheets/widget/sass/screen.sass */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 100%;
  height: 100%;
  color: #555555;
  line-height: 16pt;
  float: left;
}

/* line 47, app/assets/stylesheets/widget/sass/screen.sass */
body.lang-ar {
  font-size: 14px;
}

/* line 50, app/assets/stylesheets/widget/sass/screen.sass */
html {
  font-size: 100%;
  min-height: 100%;
}

/* line 54, app/assets/stylesheets/widget/sass/screen.sass */
h1, h2, h3, h4, h5, h6, .large-text {
  color: #797979;
}

/* line 57, app/assets/stylesheets/widget/sass/screen.sass */
p, h1, h2, h3, h4, h5, h6, table, .large-text {
  padding: 5px 0px;
}

/* line 60, app/assets/stylesheets/widget/sass/screen.sass */
h1 {
  font-size: 20px;
}

/* line 63, app/assets/stylesheets/widget/sass/screen.sass */
h2, .large-text {
  font-size: 16px;
  font-weight: normal;
}

/* line 67, app/assets/stylesheets/widget/sass/screen.sass */
h3 {
  font-size: 14px;
  font-weight: normal;
}

/* line 71, app/assets/stylesheets/widget/sass/screen.sass */
h4 {
  font-size: 12px;
  font-weight: normal;
}

/* line 75, app/assets/stylesheets/widget/sass/screen.sass */
ul li {
  margin-left: 20px;
}

/* line 78, app/assets/stylesheets/widget/sass/screen.sass */
.full {
  width: 100%;
}

/* line 81, app/assets/stylesheets/widget/sass/screen.sass */
.half {
  width: 50%;
}

/* line 84, app/assets/stylesheets/widget/sass/screen.sass */
.ninety {
  width: 90%;
}

/* line 87, app/assets/stylesheets/widget/sass/screen.sass */
input.text {
  border: 1px solid #555555;
  padding: 3px 3px 2px;
}

/* line 91, app/assets/stylesheets/widget/sass/screen.sass */
.padding {
  margin: 5px 0px;
}

/* line 94, app/assets/stylesheets/widget/sass/screen.sass */
table {
  text-align: left;
  border-collapse: collapse;
}

/* line 97, app/assets/stylesheets/widget/sass/screen.sass */
table .header_padding {
  padding: 5px;
}

/* line 99, app/assets/stylesheets/widget/sass/screen.sass */
table .idea_padding {
  padding: 2.5px 5px 2.5px 5px;
}

/* line 101, app/assets/stylesheets/widget/sass/screen.sass */
table .row0 {
  background-color: #3198c1;
  color: white;
}

/* line 104, app/assets/stylesheets/widget/sass/screen.sass */
table .row0 td.idea {
  width: 67.5%;
}

/* line 106, app/assets/stylesheets/widget/sass/screen.sass */
table .row0 td.score_header {
  width: 80px;
}

/* line 108, app/assets/stylesheets/widget/sass/screen.sass */
table .row1 {
  background-color: #fafafa;
}

/* line 110, app/assets/stylesheets/widget/sass/screen.sass */
table .row2 {
  background-color: #fefefe;
}

/* line 112, app/assets/stylesheets/widget/sass/screen.sass */
table .thin td {
  padding: 2px 5px;
  height: 2px;
}

/* line 115, app/assets/stylesheets/widget/sass/screen.sass */
table.recent-winners td {
  text-align: center;
}

/* line 117, app/assets/stylesheets/widget/sass/screen.sass */
table.item td:last-child {
  font-weight: bold;
}

/* line 119, app/assets/stylesheets/widget/sass/screen.sass */
table.left {
  margin: 0;
}

/* line 121, app/assets/stylesheets/widget/sass/screen.sass */
table.signup td {
  max-width: 400px;
}

/* line 123, app/assets/stylesheets/widget/sass/screen.sass */
table .score {
  padding-right: 5px;
}

/* line 127, app/assets/stylesheets/widget/sass/screen.sass */
.create-question h2 {
  padding-bottom: 0px;
}

/* line 129, app/assets/stylesheets/widget/sass/screen.sass */
.create-question p {
  padding: 15px 25px;
  font-size: 14px;
}

/* line 132, app/assets/stylesheets/widget/sass/screen.sass */
.create-question p.ideas {
  padding-bottom: 10px;
  padding-right: 400px;
}

/* line 135, app/assets/stylesheets/widget/sass/screen.sass */
.create-question .fieldWithErrors {
  padding: 2px 0 3px;
  border: 1px solid #ff6464;
}

/* line 139, app/assets/stylesheets/widget/sass/screen.sass */
.errorExplanation {
  color: white;
  background: #ff6464;
  padding: 8px 5px;
  border: 1px solid black;
}

/* line 144, app/assets/stylesheets/widget/sass/screen.sass */
.errorExplanation h2 {
  color: white;
}

/* line 146, app/assets/stylesheets/widget/sass/screen.sass */
.errorExplanation ul li {
  margin-left: 40px;
}

/* line 149, app/assets/stylesheets/widget/sass/screen.sass */
.header {
  padding: 30px 5px 15px 5px;
  border-bottomf: 1px solid #f4f5f6;
}

/* line 152, app/assets/stylesheets/widget/sass/screen.sass */
.header .fright {
  padding-top: 18px;
}

/* line 154, app/assets/stylesheets/widget/sass/screen.sass */
.header .fright ul li {
  list-style-type: none;
  float: left;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

/* line 160, app/assets/stylesheets/widget/sass/screen.sass */
.header .fright ul li a {
  padding: 5px 20px;
  color: #54afe2;
}

/* line 163, app/assets/stylesheets/widget/sass/screen.sass */
.header .fright ul li a:hover {
  border-top: 1px dotted #54afe2;
  border-bottom: 1px dotted #54afe2;
}

/* line 166, app/assets/stylesheets/widget/sass/screen.sass */
.header .fright ul li a.down {
  color: #555555;
}

/* line 168, app/assets/stylesheets/widget/sass/screen.sass */
.header a.logo:hover {
  border: none;
}

/* line 171, app/assets/stylesheets/widget/sass/screen.sass */
.bread-crumb {
  color: #54afe2;
}

/* line 174, app/assets/stylesheets/widget/sass/screen.sass */
.body {
  height: 100%;
  margin: 1px 0px;
  padding: 0px 0px 0px;
}

/* line 178, app/assets/stylesheets/widget/sass/screen.sass */
.body .center img {
  padding: 0px 0px 30px 0px;
}

/* line 180, app/assets/stylesheets/widget/sass/screen.sass */
.body .triple-left {
  min-height: 150px;
}

/* line 183, app/assets/stylesheets/widget/sass/screen.sass */
.body #body .triple-center, .body #body .triple-right {
  min-height: 150px;
}

/* line 186, app/assets/stylesheets/widget/sass/screen.sass */
.triple-left, .triple-center, .triple-right, .double-left {
  float: left;
}

/* line 189, app/assets/stylesheets/widget/sass/screen.sass */
.noborder {
  border: none;
}

/* line 192, app/assets/stylesheets/widget/sass/screen.sass */
.image-example {
  border: 2px solid #eeeeee;
  width: 250px;
  margin: 0px 0px 10px;
}

/* line 197, app/assets/stylesheets/widget/sass/screen.sass */
.button {
  border: 1px solid #3198c1;
  width: 125px;
  padding: 2px 0px;
  background-color: #54afe2;
  text-align: center;
  float: left;
}

/* line 205, app/assets/stylesheets/widget/sass/screen.sass */
.button-link {
  color: white;
}

/* line 208, app/assets/stylesheets/widget/sass/screen.sass */
.button:hover {
  border: 1px solid #3198c1;
}

/* line 211, app/assets/stylesheets/widget/sass/screen.sass */
.triple-left {
  border-right: 1px dotted #d8dbdc;
  padding: 0px 15px 2px 0px;
  width: 264px;
}

/* line 216, app/assets/stylesheets/widget/sass/screen.sass */
.triple-center {
  border-right: 1px dotted #d8dbdc;
  padding: 0px 15px 2px 15px;
  width: 249px;
}

/* line 221, app/assets/stylesheets/widget/sass/screen.sass */
.triple-right {
  padding: 0px 0px 2px 15px;
  width: 265px;
}

/* line 225, app/assets/stylesheets/widget/sass/screen.sass */
.double-left {
  padding: 0px 15px 2px 0px;
  width: 545px;
}

/* line 229, app/assets/stylesheets/widget/sass/screen.sass */
.votebox {
  width: 98.5%;
  float: center;
  height: 80%;
}

/* line 236, app/assets/stylesheets/widget/sass/screen.sass */
.votebox table {
  text-align: center;
  height: 40%;
}

/* line 239, app/assets/stylesheets/widget/sass/screen.sass */
.votebox table tbody {
  height: 100%;
}

/* line 241, app/assets/stylesheets/widget/sass/screen.sass */
.votebox table td {
  min-height: 100%;
}

/* line 243, app/assets/stylesheets/widget/sass/screen.sass */
.votebox table td.idea {
  cursor: pointer;
}

/* line 245, app/assets/stylesheets/widget/sass/screen.sass */
.votebox table td.left {
  padding: 0 2.5px 0 0;
}

/* line 247, app/assets/stylesheets/widget/sass/screen.sass */
.votebox table td.right {
  padding: 0 0 0 2.5px;
}

/* line 249, app/assets/stylesheets/widget/sass/screen.sass */
.votebox table td.vote_cell {
  font-size: 12.8px;
  color: white;
  height: 90%;
  background: #3198c1;
}

/* line 254, app/assets/stylesheets/widget/sass/screen.sass */
.lang-ar .votebox table td.vote_cell {
  font-size: 16px;
}

/* line 256, app/assets/stylesheets/widget/sass/screen.sass */
.votebox table td.vote_cell:hover {
  background: #2b88ad;
}

/* line 258, app/assets/stylesheets/widget/sass/screen.sass */
.votebox table td.vote_cell table {
  height: 100%;
}

/* line 260, app/assets/stylesheets/widget/sass/screen.sass */
.votebox table td.vote_cell a {
  color: white;
  border: none;
}

/* line 263, app/assets/stylesheets/widget/sass/screen.sass */
.votebox table td.vote_cell a:hover {
  color: white;
  border: none;
}

/* line 266, app/assets/stylesheets/widget/sass/screen.sass */
.votebox table td .five_padding {
  padding: 5px;
}

/* line 269, app/assets/stylesheets/widget/sass/screen.sass */
.votebox table td table tr.prompt {
  height: 100%;
}

/* line 272, app/assets/stylesheets/widget/sass/screen.sass */
.skip {
  margin: 10px 0;
}

/* line 275, app/assets/stylesheets/widget/sass/screen.sass */
.footer {
  padding: 10px 5px;
  border-top: 1px solid #f4f5f6;
}

/* line 278, app/assets/stylesheets/widget/sass/screen.sass */
.footer .triple-left, .footer .triple-center, .footer .triple-right {
  font-size: 10px;
  line-height: 12pt;
  color: #aaaaaa;
}

/* line 282, app/assets/stylesheets/widget/sass/screen.sass */
.footer img {
  padding-right: 10px;
  float: left;
}

/* line 285, app/assets/stylesheets/widget/sass/screen.sass */
.footer p {
  float: right;
  padding: 0;
}

/* line 288, app/assets/stylesheets/widget/sass/screen.sass */
.footer .triple-left p {
  width: 153px;
}

/* line 290, app/assets/stylesheets/widget/sass/screen.sass */
.footer .triple-center p {
  width: 205px;
}

/* line 292, app/assets/stylesheets/widget/sass/screen.sass */
.footer .triple-right p {
  width: 220px;
}

/* line 295, app/assets/stylesheets/widget/sass/screen.sass */
.bar-chart {
  border: 1px solid #cccccc;
  width: 97%;
  margin: 0 auto;
  padding: 1px;
  background: white;
}

/* line 301, app/assets/stylesheets/widget/sass/screen.sass */
.bar-chart > div {
  background-color: #797979;
  height: 12px;
  margin: 0;
}

/* line 306, app/assets/stylesheets/widget/sass/screen.sass */
hr {
  border: none;
  border-bottom: 1px dotted #bbbbbb;
  margin: 0 0 15px 0;
}

/* line 311, app/assets/stylesheets/widget/sass/screen.sass */
.add-box {
  width: 90%;
  margin-top: 10px;
}

/* line 314, app/assets/stylesheets/widget/sass/screen.sass */
.add-box textarea {
  border: none;
  width: 100%;
}

/* line 318, app/assets/stylesheets/widget/sass/screen.sass */
input, textarea {
  font-size: 13px;
  color: #555555;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 322, app/assets/stylesheets/widget/sass/screen.sass */
.lang-ar input, .lang-ar textarea {
  font-size: 15px;
}

/* line 326, app/assets/stylesheets/widget/sass/screen.sass */
.form-btn {
  color: black;
}

/* line 329, app/assets/stylesheets/widget/sass/screen.sass */
.error, .notice, .vote-notice {
  color: white;
  background-color: #ff6464;
  margin: -10px 10em 25px;
  text-align: center;
  font-size: 13px;
}

/* line 336, app/assets/stylesheets/widget/sass/screen.sass */
.notice {
  background-color: #ffffcc;
  border: 1px solid #797979;
  color: #797979;
  text-align: left;
  padding: 5px 10px;
  margin: 0 40px 25px;
}

/* line 343, app/assets/stylesheets/widget/sass/screen.sass */
.notice span.close {
  display: block;
  text-align: right;
}

/* line 346, app/assets/stylesheets/widget/sass/screen.sass */
.notice span.close:hover {
  border: none;
}

/* line 349, app/assets/stylesheets/widget/sass/screen.sass */
.vote-notice {
  background-color: #00bb00;
}

/* line 352, app/assets/stylesheets/widget/sass/screen.sass */
#initial_notice {
  text-align: center;
}

/* line 355, app/assets/stylesheets/widget/sass/screen.sass */
.border *, .border-thick *, .round-filled *, .round-filled-grey * {
  font-size: 0.01px;
  line-height: 0.01px;
  display: block;
  height: 1px;
  overflow: hidden;
  padding: 0px;
}

/* line 363, app/assets/stylesheets/widget/sass/screen.sass */
.border-top, .border-bottom, .border2, .round-filled-top, .round-filled-bottom, .round-filled-grey-top, round-filled-grey-top {
  padding-left: 1px;
  padding-right: 1px;
}

/* line 367, app/assets/stylesheets/widget/sass/screen.sass */
.border-top, .border-bottom {
  margin-left: 3px;
  margin-right: 3px;
}

/* line 371, app/assets/stylesheets/widget/sass/screen.sass */
.border-top {
  border-bottom: 1px solid #e9e9e9;
}

/* line 374, app/assets/stylesheets/widget/sass/screen.sass */
.border-bottom {
  border-top: 1px solid #e9e9e9;
}

/* line 377, app/assets/stylesheets/widget/sass/screen.sass */
.border2, .border3, .border4, .border5, .borderfg {
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}

/* line 381, app/assets/stylesheets/widget/sass/screen.sass */
.border2, .border3 {
  margin-left: 1px;
  margin-right: 1px;
}

/* line 385, app/assets/stylesheets/widget/sass/screen.sass */
.border-thick-top {
  border-bottom: 2px solid #e9e9e9;
}

/* line 388, app/assets/stylesheets/widget/sass/screen.sass */
.border-thick-bottom {
  border-top: 2px solid #e9e9e9;
}

/* line 391, app/assets/stylesheets/widget/sass/screen.sass */
.border-thick2, .border-thick3, .border-thick4, .border-thick5, .border-thickfg {
  border-left: 2px solid #e9e9e9;
  border-right: 2px solid #e9e9e9;
}

/* line 395, app/assets/stylesheets/widget/sass/screen.sass */
.round-filled-top, .round-filled-bottom {
  margin-left: 3px;
  margin-right: 3px;
  border-left: 1px solid #3198c1;
  border-right: 1px solid #3198c1;
  background: #3198c1;
}

/* line 402, app/assets/stylesheets/widget/sass/screen.sass */
.round-filled-grey-top, .round-filled-grey-bottom {
  margin-left: 3px;
  margin-right: 3px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  background: #cccccc;
}

/* line 409, app/assets/stylesheets/widget/sass/screen.sass */
.round-filled-grey2, .round-filled-grey3, .round-filled-grey4, .round-filled-grey5, .round-filled-greyfg {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  background: #cccccc;
  color: #686868;
}

/* line 415, app/assets/stylesheets/widget/sass/screen.sass */
.round-filled2, .round-filled3, .round-filled4, .round-filled5, .round-filledfg {
  border-left: 1px solid #3198c1;
  border-right: 1px solid #3198c1;
  background: #3198c1;
}

/* line 420, app/assets/stylesheets/widget/sass/screen.sass */
.round-filled2, .round-filled3, .round-filled-grey2, .round-filled-grey3 {
  margin-left: 1px;
  margin-right: 1px;
}

/* line 424, app/assets/stylesheets/widget/sass/screen.sass */
.toggle_question_status, .toggle_choice_status, .toggle_autoactivate_status {
  text-align: center;
  color: white;
  cursor: pointer;
  line-height: 14px;
}

/* line 430, app/assets/stylesheets/widget/sass/screen.sass */
div.form_field {
  position: relative;
  float: left;
}

/* line 434, app/assets/stylesheets/widget/sass/screen.sass */
label.over-apply {
  color: #cccccc;
  position: absolute;
  top: 0px;
  left: 5px;
}

/* line 440, app/assets/stylesheets/widget/sass/screen.sass */
table.tablesorter {
  font-family: arial;
  margin: 10px 0pt 15px;
  font-size: 8pt;
  width: 100%;
  text-align: left;
}

/* line 446, app/assets/stylesheets/widget/sass/screen.sass */
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  border: 1px solid white;
  font-size: 8pt;
  padding: 4px 20px 4px 4px;
}

/* line 450, app/assets/stylesheets/widget/sass/screen.sass */
table.tablesorter thead tr .header {
  background-image: url(/images/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

/* line 456, app/assets/stylesheets/widget/sass/screen.sass */
table.tablesorter tbody td {
  color: #3d3d3d;
  padding: 4px;
  vertical-align: top;
}

/* line 461, app/assets/stylesheets/widget/sass/screen.sass */
table.tablesorter tbody tr.odd td {
  background-color: #fafafa;
}

/* line 463, app/assets/stylesheets/widget/sass/screen.sass */
table.tablesorter tbody tr.even td {
  background-color: #fefefe;
}

/* line 466, app/assets/stylesheets/widget/sass/screen.sass */
table.tablesorter thead tr .headerSortUp {
  background-image: url(/images/asc.gif);
}

/* line 468, app/assets/stylesheets/widget/sass/screen.sass */
table.tablesorter thead tr .headerSortDown {
  background-image: url(/images/desc.gif);
}

/* line 470, app/assets/stylesheets/widget/sass/screen.sass */
table.tablesorter thead tr .headerOver {
  background-color: #8dbdd8;
}

/* line 473, app/assets/stylesheets/widget/sass/screen.sass */
.twenty_pixel_font {
  font-size: 20px;
}

/* line 476, app/assets/stylesheets/widget/sass/screen.sass */
.sixteen_pixel_font {
  font-size: 16px;
}

/* line 479, app/assets/stylesheets/widget/sass/screen.sass */
.twelve_pixel_font {
  font-size: 12px;
}

/* line 482, app/assets/stylesheets/widget/sass/screen.sass */
.active {
  color: black;
}

/* line 485, app/assets/stylesheets/widget/sass/screen.sass */
.firsttime {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #4dbae6;
  color: #185b75;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #1f7293;
  padding: 4px;
  margin-bottom: 8px;
  display: none;
}

/* line 501, app/assets/stylesheets/widget/sass/screen.sass */
.wider {
  color: black;
}

/* line 503, app/assets/stylesheets/widget/sass/screen.sass */
.wider td {
  padding: 5px !important;
}

/* line 505, app/assets/stylesheets/widget/sass/screen.sass */
.wider td.no_bottom_padding {
  padding-bottom: 0px !important;
}

/* line 507, app/assets/stylesheets/widget/sass/screen.sass */
.wider td.no_top_padding {
  padding-top: 0px !important;
  vertical-align: top;
}

/* line 510, app/assets/stylesheets/widget/sass/screen.sass */
.wider h2 {
  font-weight: bold;
  color: #3198c1;
}

/* line 514, app/assets/stylesheets/widget/sass/screen.sass */
#cant_decide_options {
  width: 95%;
  text-align: center;
  font-size: 12px;
}

/* line 518, app/assets/stylesheets/widget/sass/screen.sass */
.lang-ar #cant_decide_options {
  font-size: 14px;
}

/* line 521, app/assets/stylesheets/widget/sass/screen.sass */
#cant_decide_options table {
  text-align: left;
}

/* line 524, app/assets/stylesheets/widget/sass/screen.sass */
#cant_decide_btn {
  background: #c5c5c5;
  padding: 7.5px 12px 7.5px 12px;
  font-size: 12.8px;
  color: white;
  cursor: pointer;
}

/* line 529, app/assets/stylesheets/widget/sass/screen.sass */
.lang-ar #cant_decide_btn {
  font-size: 16px;
}

/* line 533, app/assets/stylesheets/widget/sass/screen.sass */
#cant_decide_btn:hover {
  background-color: #b1b1b1;
}

/* line 537, app/assets/stylesheets/widget/sass/screen.sass */
.add_idea .add_idea_button {
  padding: 7.5px 20px 7.5px 20px;
  color: white;
  font-size: 12.8px;
  cursor: pointer;
  background: #01bb00;
}

/* line 542, app/assets/stylesheets/widget/sass/screen.sass */
.lang-ar .add_idea .add_idea_button {
  font-size: 16px;
}

/* line 546, app/assets/stylesheets/widget/sass/screen.sass */
.add_idea .add_idea_button a {
  color: white;
}

/* line 548, app/assets/stylesheets/widget/sass/screen.sass */
.add_idea .add_idea_button:hover {
  background: #228b53;
}

/* line 551, app/assets/stylesheets/widget/sass/screen.sass */
#facebox {
  cursor: move;
}

/* line 554, app/assets/stylesheets/widget/sass/screen.sass */
.new_idea_submit, .flag_submit_button, .cd_submit_button {
  padding: 5px 10px 5px 10px;
  background: #01bb00;
  cursor: pointer;
  color: white;
}

/* line 559, app/assets/stylesheets/widget/sass/screen.sass */
.new_idea_submit:hover, .flag_submit_button:hover, .cd_submit_button:hover {
  background-color: #228b53;
}

/* line 562, app/assets/stylesheets/widget/sass/screen.sass */
.no_bottom_padding {
  padding-bottom: 0px !important;
}

/* line 565, app/assets/stylesheets/widget/sass/screen.sass */
.pagination {
  text-align: center;
  padding: 0.3em;
}

/* line 568, app/assets/stylesheets/widget/sass/screen.sass */
.pagination a {
  padding: 0.2em 0.5em;
}

/* line 570, app/assets/stylesheets/widget/sass/screen.sass */
.pagination span {
  padding: 0.2em 0.5em;
}

/* line 572, app/assets/stylesheets/widget/sass/screen.sass */
.pagination span.disabled {
  color: #aaaaaa;
}

/* line 574, app/assets/stylesheets/widget/sass/screen.sass */
.pagination span.current {
  font-weight: bold;
}

/* line 576, app/assets/stylesheets/widget/sass/screen.sass */
.pagination a {
  border: 1px solid #dddddd;
  text-decoration: none;
}

/* line 579, app/assets/stylesheets/widget/sass/screen.sass */
.pagination a:hover, .pagination a:focus {
  border-color: #003366;
  background: #3198c1;
  color: white;
}

/* line 583, app/assets/stylesheets/widget/sass/screen.sass */
.pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}

/* line 586, app/assets/stylesheets/widget/sass/screen.sass */
.pagination .prev_page, .pagination .next_page {
  border-width: 2px;
}

/* line 588, app/assets/stylesheets/widget/sass/screen.sass */
.pagination .prev_page {
  margin-right: 1em;
}

/* line 590, app/assets/stylesheets/widget/sass/screen.sass */
.pagination .next_page {
  margin-left: 1em;
}

/* line 593, app/assets/stylesheets/widget/sass/screen.sass */
#radio_button {
  padding-right: 10px;
}

/* line 596, app/assets/stylesheets/widget/sass/screen.sass */
#wide_column {
  width: 50%;
}

/* line 599, app/assets/stylesheets/widget/sass/screen.sass */
#narrow_column {
  width: 40%;
}

/* line 602, app/assets/stylesheets/widget/sass/screen.sass */
.user_cd_reason {
  padding-left: 2px;
}

/* line 605, app/assets/stylesheets/widget/sass/screen.sass */
.scrollbar_container {
  height: 93%;
  border: 4px solid #3198c1;
  border-bottom: 0px;
  overflow: auto;
  overflow-x: hidden;
}

/* line 612, app/assets/stylesheets/widget/sass/screen.sass */
.bottom_status {
  height: 16px;
  line-height: 16px;
  border: 4px solid #3198c1;
  text-align: center;
  background-color: #3198c1;
  color: white;
}

/* line 620, app/assets/stylesheets/widget/sass/screen.sass */
.link_style a {
  color: white;
  font-weight: bold;
}

/* line 623, app/assets/stylesheets/widget/sass/screen.sass */
.link_style a:hover {
  font-weight: bolder;
  text-decoration: underline;
}

/* line 627, app/assets/stylesheets/widget/sass/screen.sass */
.tellmearea {
  font-size: 14px;
}

/* line 630, app/assets/stylesheets/widget/sass/screen.sass */
.close_and_submit {
  margin-top: 5px;
}

/* line 633, app/assets/stylesheets/widget/sass/screen.sass */
.bottom_padding {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 637, app/assets/stylesheets/widget/sass/screen.sass */
.aboutpage {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 641, app/assets/stylesheets/widget/sass/screen.sass */
.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  border-color: #3198c1;
}

/* line 647, app/assets/stylesheets/widget/sass/screen.sass */
.lang-ar .tabs {
  font-size: 14px;
}

/* line 649, app/assets/stylesheets/widget/sass/screen.sass */
.tabs .current_tab {
  font-weight: bold;
  background-color: #3198c1;
}

/* line 652, app/assets/stylesheets/widget/sass/screen.sass */
.tabs .current_tab a {
  color: white;
}

/* line 654, app/assets/stylesheets/widget/sass/screen.sass */
.tabs .current_tab:hover {
  background-color: #3198c1;
  border-color: #3198c1;
}

/* line 657, app/assets/stylesheets/widget/sass/screen.sass */
.tabs li {
  display: inline;
  float: left;
  border-top: 4px solid #3198c1;
  border-left: 4px solid #3198c1;
  border-right: 4px solid #3198c1;
  margin: 0 1px 0 0px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 666, app/assets/stylesheets/widget/sass/screen.sass */
.tabs li a {
  outline: none;
  display: block;
  color: #3198c1;
  font-weight: bold;
}

/* line 671, app/assets/stylesheets/widget/sass/screen.sass */
.tabs li:hover {
  background-color: #a3d4e8;
  border-color: #a3d4e8;
}

/* line 675, app/assets/stylesheets/widget/sass/screen.sass */
.vote-nav {
  height: 25.4px;
  font-size: 12px;
}

/* line 679, app/assets/stylesheets/widget/sass/screen.sass */
.question {
  font-size: 16px;
  width: 85%;
  color: black;
  height: 100%;
}

/* line 684, app/assets/stylesheets/widget/sass/screen.sass */
.lang-ar .question {
  font-size: 18px;
}

/* line 687, app/assets/stylesheets/widget/sass/screen.sass */
.question_container {
  height: 20%;
}

/* line 690, app/assets/stylesheets/widget/sass/screen.sass */
#new_idea_field {
  font-size: 12px;
}

/* line 692, app/assets/stylesheets/widget/sass/screen.sass */
.lang-ar #new_idea_field {
  font-size: 14px;
}

/* line 696, app/assets/stylesheets/widget/sass/screen.sass */
.idea_result {
  color: #555555;
  width: 67.5%;
}

/* line 701, app/assets/stylesheets/widget/sass/screen.sass */
.faq a {
  padding-left: 5px;
}

/* line 704, app/assets/stylesheets/widget/sass/screen.sass */
.showmespace {
  margin-top: 20px;
}

/* line 707, app/assets/stylesheets/widget/sass/screen.sass */
.new_tellme_text {
  margin-top: 5px;
}

/* line 710, app/assets/stylesheets/widget/sass/screen.sass */
#flag_inappropriate {
  width: 90%;
}

/* line 712, app/assets/stylesheets/widget/sass/screen.sass */
#flag_inappropriate textarea {
  border: none;
  width: 100%;
}

/* line 717, app/assets/stylesheets/widget/sass/screen.sass */
.vote-footer a {
  color: white;
}

/* line 720, app/assets/stylesheets/widget/sass/screen.sass */
.top_margin {
  margin-top: 5px;
}

/* line 723, app/assets/stylesheets/widget/sass/screen.sass */
.two_top_margin {
  margin-top: 10px;
}

/* line 726, app/assets/stylesheets/widget/sass/screen.sass */
.six_top_margin {
  margin-top: 30px;
}

/* line 729, app/assets/stylesheets/widget/sass/screen.sass */
.add_container {
  margin-top: 15px;
}

/* line 732, app/assets/stylesheets/widget/sass/screen.sass */
#initial_notice {
  background-color: white;
  border: none;
  font-size: 14px;
}

/* line 736, app/assets/stylesheets/widget/sass/screen.sass */
.lang-ar #initial_notice {
  font-size: 16px;
}

/* line 739, app/assets/stylesheets/widget/sass/screen.sass */
.bottom_status table {
  border: 0;
  cellpadding: 0;
}

/* line 743, app/assets/stylesheets/widget/sass/screen.sass */
.results_data {
  height: 80%;
}

/* line 745, app/assets/stylesheets/widget/sass/screen.sass */
.results_data .vote_count {
  color: #919191;
}

/* line 748, app/assets/stylesheets/widget/sass/screen.sass */
#full_height {
  height: 100%;
}

/* line 751, app/assets/stylesheets/widget/sass/screen.sass */
.no_padding {
  padding: 0 0 0 0;
}

/* line 754, app/assets/stylesheets/widget/sass/screen.sass */
.results_content {
  min-height: 100%;
}

/* line 757, app/assets/stylesheets/widget/sass/screen.sass */
.text_field_border {
  padding: 2px;
  background-color: #e9e9e9;
}

/* line 760, app/assets/stylesheets/widget/sass/screen.sass */
.text_field_border textarea#new_idea_field:focus {
  outline: none;
}

/* line 763, app/assets/stylesheets/widget/sass/screen.sass */
textarea {
  overflow: auto;
}

/* line 767, app/assets/stylesheets/widget/sass/screen.sass */
.cd_option .cd_box {
  margin: 5px 10px;
}

/* line 769, app/assets/stylesheets/widget/sass/screen.sass */
.cd_option .cd_box a {
  background: #c5c5c5;
  color: #ffffff;
  display: block;
  width: 40%;
  padding: 5px 10px;
}

/* line 775, app/assets/stylesheets/widget/sass/screen.sass */
.cd_option .cd_box a:hover {
  background: #b1b1b1;
}

/* line 778, app/assets/stylesheets/widget/sass/screen.sass */
#cookies-failed {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 782, app/assets/stylesheets/widget/sass/screen.sass */
#cookies-failed .aboutpage {
  margin: 4em 1em 0;
  background-color: #ffffff;
}

/* line 786, app/assets/stylesheets/widget/sass/screen.sass */
#cookies-failed .aboutpage h2 {
  background: url(/images/widget/blocked_cookies.png) no-repeat left 40%;
  padding-left: 22px;
}
