a
  img, &:active
    border: none

.center
  text-align: center

.full
  width: 100%

.half
  width: 50%

.ninety
  width: 90%

input.text
  border: 1px solid #919191
  padding: 3px 3px 2px

.padding
  margin: 5px 0px

table
  text-align: left
  border-collapse: collapse
  td, th
    padding: 5px
  .title
    max-width: 545px
  .row0
    background-color: #3198c1
    color: white
    a
      color: white
      text-decoration: underline
    th.score
      width: 95px
  .row1
    background-color: #fafafa
  .row2
    background-color: #fefefe
  .thin td
    padding: 2px 5px
    height: 2px
  .votes
    min-width: 90px
  &.recent-winners td
    text-align: center
  &.item td:last-child
    font-weight: bold
  &.left
    margin: 0
  &.signup td
    max-width: 400px

.tab-content
  background-color: #f2f2f2
  border-bottom: 18px solid #f2f2f2
  border-bottom-left-radius: 7px
  -webkit-border-bottom-left-radius: 7px
  -moz-border-bottom-left-radius: 7px
  border-bottom-right-radius: 7px
  -webkit-border-bottom-right-radius: 7px
  -moz-border-bottom-right-radius: 7px
  &.question-results .row > div
    background-color: white

.create-question
  h2
    padding-bottom: 0px
  p
    padding: 15px 25px
    font-size: 14px
    &.ideas
      padding-bottom: 10px
      padding-right: 400px
  .fieldWithErrors
    padding: 2px 0 3px
    border: 1px solid #ff6464

.errorExplanation
  color: #FFF
  background: #ff6464
  padding: 8px 5px
  border: 1px solid #000
  h2
    color: #FFF
  ul li
    margin-left: 40px

.header.row
  margin-top: 10px
  .nav
    margin-top: 10px
    text-transform: uppercase
  a.logo
    display: block
    margin-bottom: 1em
  a.logo:hover
    border: none

.bread-crumb
  color: #54afe2

.body
  padding: 20px 0 30px
  border-bottom: 1px solid #d8dbdc
  .center img
    padding: 0px 0px 30px 0px
  .triple-left
    min-height: 150px
  #body
    .triple-center, .triple-right
      min-height: 150px

.triple-left, .triple-center, .triple-right, .double-left
  float: left

.noborder
  border: none

.image-example
  border: 2px solid #eeeeee
  width: 250px
  margin: 0px 0px 10px

.button
  border: 1px solid #3198c1
  width: 125px
  padding: 2px 0px
  background-color: #54afe2
  text-align: center
  float: left

.button-link
  color: white

.button:hover
  border: 1px solid #3198c1

.triple-left
  border-right: 1px dotted #d8dbdc
  padding: 0px 15px 2px 0px
  width: 264px

.triple-center
  border-right: 1px dotted #d8dbdc
  padding: 0px 15px 2px 15px
  width: 249px

.triple-right
  padding: 0px 0px 2px 15px
  width: 265px

.double-left
  padding: 0px 15px 2px 0px
  width: 545px

.vote-question
  text-align: center
  padding: 15px 15px
  background-color: white
  color: #333
  border-radius: 7px
  -webkit-border-radius: 7px
  -moz-border-radius: 7px

.votebox
  margin-top: 20px
  background-color: #f2f2f2

.skip
  margin: 10px 0
.right-border
  border-right: 1px dotted #D8DBDC

.footer-row
  border-top: 1px solid #F4F5F6
  padding-top: 10px

  p
    text-align: right
    color: #808080
    .text-links a
      text-transform: lowercase
      color: #808080
      margin: 0 10px
    .image-links
      margin-right: 10px

div.bar-chart
  border: 1px solid #ccc
  width: 250px
  margin: 2px 5px 2px 0
  padding: 1px
  float: left
  background: white
  > div
    background-color: #797979
    height: 12px
    margin: 0

hr
  border: none
  border-bottom: 1px dotted #BBB
  margin: 0 0 15px 0

.form-btn
  color: #000

.error, .notice, .vote-notice
  color: #FFF
  background-color: #ff6464
  margin: -10px 10em 25px
  text-align: center
  font-size: 13px

.notice
  background-color: #FFC
  border: 1px solid #797979
  color: #797979
  text-align: left
  padding: 5px 10px
  margin: 0 40px 25px
  span.close
    display: block
    text-align: right
    &:hover
      border: none

.vote-notice
  background-color: #0B0

.border *, .border-thick *, .round-filled *, .round-filled-grey *
  font-size: 0.01px
  line-height: 0.01px
  display: block
  height: 1px
  overflow: hidden
  padding: 0px

.border-top, .border-bottom, .border2, .round-filled-top, .round-filled-bottom, .round-filled-grey-top, round-filled-grey-top
  padding-left: 1px
  padding-right: 1px

.border-top, .border-bottom
  margin-left: 3px
  margin-right: 3px

.border-top
  border-bottom: 1px solid #e9e9e9

.border-bottom
  border-top: 1px solid #e9e9e9

.border2, .border3, .border4, .border5, .borderfg
  border-left: 1px solid #e9e9e9
  border-right: 1px solid #e9e9e9

.border2, .border3
  margin-left: 1px
  margin-right: 1px

.border-thick-top
  border-bottom: 2px solid #e9e9e9

.border-thick-bottom
  border-top: 2px solid #e9e9e9

.border-thick2, .border-thick3, .border-thick4, .border-thick5, .border-thickfg
  border-left: 2px solid #e9e9e9
  border-right: 2px solid #e9e9e9

.round-filled-top, .round-filled-bottom
  margin-left: 3px
  margin-right: 3px
  border-left: 1px solid #3198c1
  border-right: 1px solid #3198c1
  background: #3198c1

.round-filled-grey-top, .round-filled-grey-bottom
  margin-left: 3px
  margin-right: 3px
  border-left: 1px solid #cccccc
  border-right: 1px solid #cccccc
  background: #cccccc

.round-filled-grey2, .round-filled-grey3, .round-filled-grey4, .round-filled-grey5, .round-filled-greyfg
  border-left: 1px solid #cccccc
  border-right: 1px solid #cccccc
  background: #cccccc
  color: #686868

.round-filled2, .round-filled3, .round-filled4, .round-filled5, .round-filledfg
  border-left: 1px solid #3198c1
  border-right: 1px solid #3198c1
  background: #3198c1

.rounded
  border-radius: 5px
  -moz-border-radius: 5px

.round-filled2, .round-filled3, .round-filled-grey2, .round-filled-grey3
  margin-left: 1px
  margin-right: 1px

div.form_field
  position: relative
  float: left

label.over-apply
  color: #ccc
  position: absolute
  top: 0px
  left: 5px

table.tablesorter
  thead tr .header
    padding-right: 12px
    background-image: url(/images/bg-invert.gif)
    background-repeat: no-repeat
    background-position: center right
    cursor: pointer
  tbody
    td
      color: #3D3D3D
      padding: 4px
      vertical-align: top
    tr
      &.odd td
        background-color: #fafafa
      &.even td
        background-color: #fefefe
  thead tr
    .headerSortUp
      background-image: url(/images/asc-invert.gif)
    .headerSortDown
      background-image: url(/images/desc-invert.gif)

.twenty_pixel_font
  font-size: 20px

.sixteen_pixel_font
  font-size: 16px

.twelve_pixel_font
  font-size: 12px

.active
  color: #000000

.firsttime
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 100
  background: #4dbae6
  color: #185b75
  font-size: 15px
  font-weight: bold
  text-align: center
  border-bottom: 1px solid #1f7293
  padding: 4px
  margin-bottom: 8px
  display: none

.cant-decide
  text-align: center

#cant_decide_options
  width: 500px

  .cd_options
    width: 100%
    overflow: auto

.wider
  color: #000000
  td
    padding: 5px !important
    &.no_bottom_padding
      padding-bottom: 0px !important
    &.no_top_padding
      padding-top: 0px !important
      vertical-align: top
  h2
    font-weight: bold
    color: #3198c1

.cd_submit_button
  padding: 5px 10px 5px 10px
  background: #3198C1
  cursor: pointer
  color: #FFFFFF
  &:hover
    background-color: #2B88AD

.add-idea-row
  border-top: 10px solid white

.add_idea
  margin: 35px 0px 0px 0px
  a.add-idea-link
    text-decoration: none
    display: block
    width: 300px
  .add_idea_button
    padding: 5px 10px 5px 10px
    width: 265px
    height: 3em
    display: table-cell
    vertical-align: middle
    color: #FFFFFF
    font-size: 16px
    cursor: pointer
    background: #01bb00
    a
      color: #FFFFFF
    &:hover
      background: #228b53

.add_container
  height: 12em

.no_bottom_padding
  padding-bottom: 0px !important

.question-admin-form
  margin-top: 20px
  .form-horizontal
    .controls
      margin-left: 190px
    .control-label
      width: 170px

.ideas-table
  tbody
    tr
      cursor: pointer

  td.choice-progress
    .progress
      margin-bottom: 0
      float: left
      width: 85%
    .score
      float: left
      margin-left: 1em

      font-size: 120%
.csv-links
  tbody
    tr
      cursor: pointer

.vote-count-span
  text-align: center

.flag-right
  text-align: right

.navbar-aoi
  .navbar-inner
    // remove rounded corners
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0
    // modify min-height
    min-height: 30px
    // modify background color
    background-color: #666666
    background-image: -moz-linear-gradient(top, #6d6d6d, #5c5c5c)
    background-image: -ms-linear-gradient(top, #6d6d6d, #5c5c5c)
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6d6d6d), to(#5c5c5c))
    background-image: -webkit-linear-gradient(top, #6d6d6d, #5c5c5c)
    background-image: -o-linear-gradient(top, #6d6d6d, #5c5c5c)
    background-image: linear-gradient(top, #6d6d6d, #5c5c5c)
    background-repeat: repeat-x
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#6d6d6d', endColorstr='#5c5c5c', GradientType=0)

  .nav > li > a
    padding: 5px 10px 7px
    line-height: 18px
    color: #fefefe

.votebox.row
  height: 128px
  margin-bottom: 10px
  overflow: hidden
  
.vote-table-div
  overflow: hidden

.vote-table
  table-layout: fixed
  width: 100%
  border-collapse: separate
  *border-collapse: collapse
  border-spacing: 0


.table-cell-btn
  font-size: 20px
  height: 126px
  padding: 0 10px
  display: table-cell

.progress-gray .bar
  background-color: #dddddd
  background-image: -ms-linear-gradient(top, #dddddd, #b5b5b5)
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddddd), to(#b5b5b5))
  background-image: -webkit-linear-gradient(top, #dddddd, #b5b5b5)
  background-image: -o-linear-gradient(top, #dddddd, #b5b5b5)
  background-image: linear-gradient(top, #dddddd, #b5b5b5)
  background-image: -moz-linear-gradient(top, #dddddd, #b5b5b5)
  background-repeat: repeat-x
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#dddddd', endColorstr='#b5b5b5', GradientType=0)


.results-table-header
  background-color: #f2f2f2
  h3
    background-color: black
    text-align: center
    color: #fefefe
    -moz-border-top-left-radius: 10px
    -webkit-border-top-left-radius: 10px
    border-top-left-radius: 10px
    -khtml-border-top-left-radius: 10px
    -moz-border-top-right-radius: 10px
    -webkit-border-top-right-radius: 10px
    border-top-right-radius: 10px
    -khtml-border-top-right-radius: 10px

.nav-tabs.vote-tabs
  margin-bottom: 0
  border-bottom: none
  padding-right: 10px
  & > li.active > a
    background-color: #f2f2f2

.below-tabs
  height: 18px
  background-color: #f2f2f2
  -webkit-border-top-left-radius: 7px
  -mox-border-top-left-radius: 7px
  border-top-right-radius: 7px
  -webkit-border-top-right-radius: 7px
  -moz-border-top-right-radius: 7px

.survey-image-col
  margin-top: -50px

  .survey-image
    position: relative
    padding-right: 10px
    bottom: -30px

  .survey-image-links
    margin-top: 12px

#new_idea_field
  font-size: 18px
  line-height: 27px

.data-vis-header
  padding-left: 15px
