<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>

<head>

  <meta content='text/html;charset=UTF-8' http-equiv='content-type' />
  <meta name="keywords" content="ideation, online suggestion box, open source suggestion box, crowdsourcing ideas, social suggestion, idea comparison, prioritize ideas, nonprofit, free idea management" />
  <meta content='All Our Ideas is a platform that enables groups to collect and prioritize ideas in a transparent, democratic, and bottom-up way. It’s a suggestion box for the digital age.' name='description' />
  <meta content='All Our Ideas is a platform that enables groups to collect and prioritize ideas in a transparent, democratic, and bottom-up way. It’s a suggestion box for the digital age.' property='og:description' />
  <meta content='http://jedidiah.allourideas.dev.mysociety.org/images/favicon.png?1346331606' property='og:image' />
  <meta property="og:site_name" content="All Our Ideas"/>
  <link href='http://www.allourideas.org/favicon.ico' rel='shortcut icon' />

  <title>All Our Ideas - A Suggestion Box for the Digital Age</title>

  <link href="../stylesheets/bootstrap/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="../stylesheets/bootstrap/responsive.css" media="screen" rel="stylesheet" type="text/css" />

  <link href="../stylesheets/aoi-responsive.css" media="screen" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.3/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />

  <link href="../stylesheets/ui.theme.css?1346331606" media="all" rel="stylesheet" type="text/css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.7.3/jquery-ui.min.js" type="text/javascript"></script>

</head>

<body class='en'>

  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <ul class="nav pull-right">
        <li><a href="/sign_in">Log In</a></li>
      </ul>
    </div>
  </div>
  
  
  
  <div class='content container' style=''>
  <div class='row header'>
  <div class='span7'>
  <a href='/'>
  <img alt="Logo" src="../images/logo.jpg?1346331606" />
  </a>
  </div>
  <div class='span5'>
  <ul class='nav nav-pills pull-right'>
  <li class='current'>
  <a href="/">Home</a>
  </li>
  <li>
  <a href="/questions/new">Create</a>
  </li>
  <li>
  <a href="/about">About</a>
  </li>
  <li><a href="http://blog.allourideas.org">Blog</a></li>
  </ul>
  </div>
  </div>
  
  <div class='body'>
  <div class='row'>
  <div class='span12'>
  
  </div>
  </div>
  <div class='row'>
  <div class='span12'>
  <div class='center'><img alt="Start" src="../images/start.jpg?1346331606" /></div>
  </div>
  </div>
  <hr />
  <div class='row'>
  <div class='span4'>
  <div class='right-border'>
  <h3>What is this?</h3>
  <p>All Our Ideas is a platform that enables groups to collect and prioritise ideas in a transparent, democratic, and bottom-up way. It’s a suggestion box for the digital age.</p>
  <a href="/about" class="btn btn-primary">Learn more</a>
  </div>
  </div>
  <div class='span4'>
  <div class='right-border'>
  <h3>How does it work?</h3>
  <p>You can use All Our Ideas to create a website where visitors can vote on ideas and upload new ones. The intuitive and fun voting process yields powerful results.</p>
  <a href="/example" class="btn btn-primary">See an example</a>
  </div>
  </div>
  <div class='span4'>
  <h3>Get started!</h3>
  <p>Click on the link below to get started with All Our Ideas. It is free, easy, and built on open source technology. Create your own interactive suggestion box and start discovering.</p>
  <a href="/questions/new" class="btn btn-primary">Create a question</a>
  </div>
  </div>
  
  </div>
  <div class='row footer-row'>
  <div class='span8 offset4'>
  <p>
  <span class='text-links'>
  <a href="/about">About</a>
  |
  <a href="/privacy">Privacy</a>
  </span>
  <span class='image-links'>
  <a href="https://www.facebook.com/allourideas"><img alt="Fb" src="../images/fb.png?1346331606" /></a>
  <a href="https://twitter.com/allourideas"><img alt="Twitter" src="../images/twitter.png?1346331606" /></a>
  <a href="https://github.com/allourideas"><img alt="Github" src="../images/github.png?1346331606" /></a>
  </span>
  </p>
  </div>
  </div>
  
  <script src="/javascripts/jquery.ba-url.min.js?1346331606" type="text/javascript"></script>
  <script src="/javascripts/jquery.taconite.js?1346331606" type="text/javascript"></script>
  <script src="/javascripts/jquery.hint.js?1346331606" type="text/javascript"></script>
  <script src="/javascripts/label_over.js?1346331606" type="text/javascript"></script>
  <script src="/javascripts/jquery.jqEasyCharCounter.js?1346331606" type="text/javascript"></script>
  <script src="/javascripts/application.js?1346331606" type="text/javascript"></script>
  <script src="/javascripts/jquery.form.js?1346331606" type="text/javascript"></script>
  <script src="/javascripts/bootstrap/bootstrap.min.js?1346331606" type="text/javascript"></script>
  
</div>
</body>
</html>