body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 10px 50px; }

.content {
  margin: auto;
  min-width: 600px;
  width: 85%;
  overflow: hidden; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #00F; }
  a:visited {
    color: #00F; }
  a:hover {
    color: #99F; }

.error, .errorExplanation {
  color: #F00; }

.notice {
  color: #090; }

table.results {
  border: #000 solid 1px;
  padding: 2em 1em; }
  table.results tr td {
    padding: 0.2em 1em; }
table.vote {
  width: 600px;
  margin: auto; }
  table.vote td {
    padding: 1em;
    border: #000 solid 1px;
    text-align: center; }
    table.vote td.items {
      font-size: 18px;
      width: 50%; }
    table.vote td.question {
      font-size: 24px;
      font-weight: bold;
      line-height: 28px; }
    table.vote td.skip {
      border: none; }
    table.vote td.plain {
      border: none;
      padding: 1em 0 0; }
    table.vote td.left {
      text-align: left; }
    table.vote td.right {
      text-align: right; }
table.form {
  width: 600px; }
  table.form td {
    padding: 0.5em 0; }
    table.form td.label {
      font-weight: bold;
      font-size: 12px;
      padding: 0.5em 0.5em 0.5em 0em;
      width: 14em;
      text-align: right; }

ul.nav {
  margin-top: 1.5em;
  padding: 0 0 2em 0;
  border-top: 1px solid #666; }
  ul.nav li {
    list-style: none;
    padding: 0.5em 1em 0;
    float: left; }

.footer {
  margin: 0.5em 0  1em 0; }
