<p>
<%= @photocracy ? 'Photocracy' : 'All Our Ideas' %><br/>
145 Wallace Hall<br/>
Princeton, NJ 08544<br/>
<%= @photocracy ? 'info@photocracy.org' : 'info@allourideas.org' %><br/>
</p>

<p>
<% if @photocracy -%>
For more about Photocracy:<br/>
Twitter: <a href="http://twitter.com/photocracy">http://twitter.com/photocracy</a>
<% else -%>
For more about All Our Ideas:<br/>
Blog: <a href="http://blog.allourideas.org">http://blog.allourideas.org</a><br/>
Twitter: <a href="http://twitter.com/allourideas">http://twitter.com/allourideas</a><br/>
Facebook: <a href="http://www.facebook.com/allourideas">http://www.facebook.com/allourideas</a>
<% end -%>
</p>
