<p>
<%= @photocracy ? 'Photocracy' : 'All Our Ideas' %><br/>
145 Wallace Hall<br/>
Princeton, NJ 08544<br/>
<%= @photocracy ? ENV["INFO_PHOTOCRACY_EMAIL"] : ENV["INFO_ALLOURIDEAS_EMAIL"] %><br/>
</p>

<p>
<% if @photocracy -%>
For more about Photocracy:<br/>
Twitter: <a href="http://twitter.com/photocracy">http://twitter.com/photocracy</a>
<% else -%>
Blog: <a href="http://blog.allourideas.org">http://blog.allourideas.org</a><br/>
Twitter: <a href="http://twitter.com/allourideas">http://twitter.com/allourideas</a><br/>
Facebook: <a href="http://www.facebook.com/allourideas">http://www.facebook.com/allourideas</a><br/>
<br/>
Read about All Our Ideas in Bit by Bit: Social Research in the Digital Age: <a href="https://www.bitbybitbook.com/en/1st-ed/asking-questions/how/wiki/">https://www.bitbybitbook.com/en/1st-ed/asking-questions/how/wiki/</a>
<% end -%>
</p>
