<p><%= t('items.email.hello') %></p>

<p>Your requested export of data from the <%= @photocracy ? 'Photocracy' : 'All Our Ideas'%> site has failed.  We've been notified of the problem and will be working on a fix.</p>

<p><%= t('items.email.thanks') %></p>
<%= render :partial => 'idea_mailer/signature' %>
