.vote-nav
  .fleft
    .bread-crumb
  .fright
    =loc_based_style(link_to(t('vote.cast_votes'), vote_quick_link(@question, "#{@question.earl}")), t('vote.cast_votes'))
    %span.grey &nbsp;|&nbsp;
    =# loc_based_style(link_to(t('nav.view_results'), quick_link('items', "#{@question.earl}/results")), t('nav.view_results'))
  .clear