.vote-nav
  .fleft
    .bread-crumb
  .fright
    =loc_based_style(link_to(t('vote.cast_votes'), vote_quick_link(@question, "#{@earl.name}")), t('vote.cast_votes'))
    %span.grey &nbsp;|&nbsp;
    = loc_based_style(link_to(t('nav.view_results'), quick_link(@question, 'items', "#{@earl.name}/results")), t('nav.view_results'))
  .clear