/*
  We use CSS color names by default for readability.
  http://www.w3schools.com/css/css_colorsfull.asp

  It is expected the designer(s) will pick a scheme that may include hex colors.
  http://colors.napcsweb.com/colorschemer

  We prefer off-white & off-black because computer screens
  have high black/white contrast.
*/

/* body */

body {
  background-color: snow; }

/* links */

a {
  color: midgnightblue; }
a:visited {
  color: dimgray; }

/* flash */

#flash_success {
  background: seagreen; }
#flash_failure {
  color: beige;
  background: firebrick; }
#flash_notice {
  color: snow;
  background: dimgray; }

/* errors */

.fieldWithErrors {
  background-color: tomato; }
#errorExplanation {
  border-color: tomato;
  background-color: snow; }
#errorExplanation h2 {
  background-color: firebrick;
  color: floralwhite; }
#errorExplanation p {
  color: darkgray; }

