p {
  padding: 0.4em 0; }

/* flashes & errors */

#flash_notice, #flash_success, #flash_failure, #errorExplanation ul li {
  padding: 0.6em; }

/* fieldsets */

fieldset.inputs, fieldset.buttons {
  margin: 1em 0; }

/* labels */

label {
  display: block;
  font-size: 1.4em; }

/* hidden field */

fieldset div.hidden {
  display: none; }

/* inputs */

input {
  vertical-align: middle; }

fieldset div.string,
fieldset div.numeric,
fieldset div.password,
fieldset div.text,
fieldset div.boolean {
  margin: 0 0 1em 0; }

fieldset div.string label,
fieldset div.numeric label,
fieldset div.password label,
fieldset div.text label {
  padding: 0.2em 0; }

fieldset div.string input,
fieldset div.numeric input,
fieldset div.password input,
fieldset div.text textarea {
  padding: 0.4em; }

fieldset div.boolean label {
  display: inline;
  margin: 0.2em; }

fieldset div.boolean input {
  margin: 0;
  vertical-align: top; }

/* radio buttons and check boxes */

fieldset div.radios fieldset ol,
fieldset div.checks fieldset ol, {
  margin-bottom: -0.6em; }
fieldset div.radios fieldset ol li,
fieldset div.checks fieldset ol li, {
  margin: 0.1em 0 0.5em 0; }
fieldset div.radios fieldset ol li label,
fieldset div.checks fieldset ol li label {
  float: none; }
fieldset div.radios fieldset ol li label input,
fieldset div.checks fieldset ol li label input, {
  margin-right: 0.2em; }

/* dates, times, and datetimes */

fieldset div.date fieldset ol li,
fieldset div.time fieldset ol li,
fieldset div.datetime fieldset ol li {
  float: left;
  width: auto;
  margin: 0 .3em 0 0; }

fieldset div.date fieldset ol li label,
fieldset div.time fieldset ol li label,
fieldset div.datetime fieldset ol li label {
  display: none; }

fieldset div.date fieldset ol li label input, 
fieldset div.time fieldset ol li label input, 
fieldset div.datetime fieldset ol li label input {
  display: inline;
  margin: 0;
  padding: 0; }

/* buttons */

fieldset.buttons input {
  padding: 1em; }

