<body onLoad="javascript:pageTracker._setVar('admin_cookie');">
A cookie has been set on your computer that will exclude you from being counted in google analytics. You can verify this by looking at the cookies for allourideas.org (no www) and looking for one labeled '_utmv'. This cookie should have the text 'admin_cookie' within it. Thanks!
