<body onLoad="javascript:pageTracker._setVar('admin_cookie');">
A cookie has been set on your computer that will exclude you from being counted in google analytics. You can verify this by looking at the cookies for this domain and looking for one labeled 'admin_cookie'. Thanks!
