%h1 What information do we collect?

%p We collect information from you when you interact with All Our Ideas. Also, when creating a question, you will be required to enter your email address. You may, however, vote on questions anonymously. All visitors to the site will have their IP address recorded.

%p Further, like most websites, we use cookies to enhance your experience, gather general visitor information, and track visits to our website. Please refer to the "do we use cookies?" section below for information about cookies and how we use them.

%h1 How do we use your information?

%p Any of the information that we collect may be used for research proposes and to improve All Our Ideas.

%h1 How do we protect your information?

%p We implement a variety of security measures to maintain the safety of your personal information.

%h1 Do we use cookies?

%p Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information.

%p In order to offer you a better site experience, we use cookies to understand and save your preferences for future visits and to compile aggregate data about site traffic.

%h1 Do we disclose any information to outside parties?

%p We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting research, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety.

%h1 Third party links

%p Occasionally, at our discretion, we may include links to third party websites. These third party sites have separate and independent privacy policies. We, therefore, have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.

%h1 Your consent

%p By using our site, you consent to our privacy policy.

%h1 Changes to our Privacy Policy

%p If we decide to change our privacy policy, we will post those changes on this page, and update the Privacy Policy modification date below.

%p This policy was last modified on July 6, 2009.