%h1=t('privacy.h1')

%p=t('privacy.p1')

%p=t('privacy.p1_1')

%h1=t('privacy.h2')

%p=t('privacy.p2')

%h1=t('privacy.h3')

%p=t('privacy.p3')

%h1=t('privacy.h4')

%p=t('privacy.p4')

%p=t('privacy.p4_1')

%h1=t('privacy.h5')

%p=t('privacy.p5')

%h1=t('privacy.h6')

%p=t('privacy.p6')

%h1=t('privacy.h7')

%p=t('privacy.p7')

%h1=t('privacy.h8')

%p=t('privacy.p8')

%p=t('privacy.p8_1')
