global: &global
    INFO_ALLOURIDEAS_EMAIL: info@example.org
    INFO_PHOTOCRACY_EMAIL: info@example.com
    SIGNUPS_ALLOURIDEAS_EMAIL: signups@example.org
    SIGNUPS_PHOTOCRACY_EMAIL: signups@example.com
    ERRORS_EMAIL: errors@example.org

development:
    <<: *global
    HOST: localhost:3001 # domain:port of AOI server
    API_HOST: http://localhost:3000 # URL for pairwise API server
    PAIRWISE_USERNAME: pairwisetest@dkapadia.com
    PAIRWISE_PASSWORD: wheatthins
    PHOTOCRACY_USERNAME: photocracytest@dkapadia.com
    PHOTOCRACY_PASSWORD: saltines
    PHOTOCRACY_HOST: photocracy:3001 # domain:port of Photocracy (AOI) Server
    IP_ADDR_HASH_SALT: 2039d9ds9ufsdioh2394230 #prevent dictionary attacks on stored ip address hashes

production:
    <<: *global
    HOST: <%= ENV['ALLOURIDEAS_HOST'] %>
    API_HOST: <%= ENV['API_HOST'] %>
    PAIRWISE_USERNAME: <%= ENV['PAIRWISE_USERNAME'] %>
    PAIRWISE_PASSWORD: <%= ENV['PAIRWISE_PASSWORD'] %>
    IP_ADDR_HASH_SALT: <%= ENV['IP_ADDR_HASH_SALT'] %> #prevent dictionary attacks on stored ip address hashes

    PHOTOCRACY_USERNAME: <%= ENV['PHOTOCRACY_USERNAME'] %>
    PHOTOCRACY_PASSWORD: <%= ENV['PHOTOCRACY_PASSWORD'] %>
    PHOTOCRACY_HOST: photocracy.org

    INFO_ALLOURIDEAS_EMAIL: <%= ENV['INFO_ALLOURIDEAS_EMAIL'] %>
    INFO_PHOTOCRACY_EMAIL: <%= ENV['INFO_PHOTOCRACY_EMAIL'] %>
    SIGNUPS_ALLOURIDEAS_EMAIL: <%= ENV['SIGNUPS_ALLOURIDEAS_EMAIL'] %>
    SIGNUPS_PHOTOCRACY_EMAIL: <%= ENV['SIGNUPS_PHOTOCRACY_EMAIL'] %>
    ERRORS_EMAIL: <%= ENV['ERRORS_EMAIL'] %>

staging:
    <<: *global
    HOST: <%= ENV['STAGING_ALLOURIDEAS_HOST'] %>
    API_HOST: <%= ENV['STAGING_API_HOST'] %>
    PAIRWISE_USERNAME: <%= ENV['PAIRWISE_USERNAME'] %>
    PAIRWISE_PASSWORD: <%= ENV['PAIRWISE_PASSWORD'] %>

    PHOTOCRACY_USERNAME: <%= ENV['PHOTOCRACY_USERNAME'] %>
    PHOTOCRACY_PASSWORD: <%= ENV['PHOTOCRACY_PASSWORD'] %>
    PHOTOCRACY_HOST: photocracy.org

    IP_ADDR_HASH_SALT: <%= ENV['IP_ADDR_HASH_SALT'] %> #prevent dictionary attacks on stored ip address hashes

test:
    <<: *global
    HOST: localhost
    API_HOST: http://localhost:4000

    PAIRWISE_USERNAME: 
    PAIRWISE_PASSWORD: 

cucumber:
    <<: *global
    HOST: localhost
    # Use a different test database / server for test purposes
    API_HOST: http://localhost:4000
    PAIRWISE_USERNAME: testing@dkapadia.com
    PAIRWISE_PASSWORD: wheatthins
    PHOTOCRACY_USERNAME: photocracytest@dkapadia.com
    PHOTOCRACY_PASSWORD: saltines
    IP_ADDR_HASH_SALT: 2039d9ds9ufsdioh2394230 #prevent dictionary attacks on stored ip address hashes
    PHOTOCRACY_HOST: photocracy.org
