%h1 Error - Unknown Server Error
%h3 Whoops! Looks like an error occured. Sorry about that. 
%p This may be a temporary problem, please wait a few minutes and give it another shot. 
%p
  If you continue to see this page, please send us an email -
  = APP_CONFIG[:INFO_ALLOURIDEAS_EMAIL]
