.container_16
  .blue_fade
    .grid_8
      .padding{:style => 'padding:30px'}
        %h3.no_margin{:style => 'color:#ccc'} Error - Page not found
        %h1{:style => 'font-weight:normal;font-size:50px;line-height:60px;'} Oops!
        %p It looks like an error occurred on our servers. Sorry about that. We couldn't find the page you were looking for. Please check the URL you are trying to reach, you may have mis-typed it.
        %p
          If you believe this page should exist, please send us an email -
          = mail_to(APP_CONFIG[:INFO_PHOTOCRACY_EMAIL])
        .float_left{:style => 'margin-right:20px'}
          =link_to "Return Home", "/", :class => 'button green'
        .float_left
          %br
          =link_to t('home.see_an_example'), "/happiness", :style => 'color:#fff;'
        .clear

    .grid_8
      .padding.center{:style => 'padding:30px'}
        =image_tag('photocracy/homepage_photos_min.png', :width => '325', :height => '325')
        
  
    .clear
