<div id="primary_content">
  <div id="hd" class="center">
    <h1 class="no_margin">
      <span class="normal">Results of</span>
      <%=h @question.name %>
    </h1>
    <p class="gray">
      <%= link_to 'Back to results',  url_for(:action => :results, :controller => :questions, :id => params[:question_id] || params[:id]) %> or
      <%= link_to 'return to voting',  url_for(:action => :show, :controller => :earls, :id => params[:question_id]) %>
    </p>
  </div>
</div>