.container_16
  %h4.no_margin
    Add your photos
  -if @question.active_choices < 3
    %h6#status_message{:style => 'color:red'}
      You need to upload <span id="photos_needed">3</span> more photos <span class="normal">(minimum)</span>.

  #fileQueue
  %form{:action => "/#{@earl.name.to_s}/upload_photos", :method => 'POST', :enctype => 'multipart/form-data'}
    %input{:type => 'file', :name => 'Filedata', :id => 'uploadify'}
    %input{:type => 'submit', :id => 'upload_submit', :value => "Upload"}
  %p
    Tip: Hold down your 'shift' key when selecting photos<br /> to upload more than one at a time.

  #done_button{:style => "#{'display:none;' if @question.active_choices < 3}"}
    #{button_to 'done uploading, create my photocracy &raquo;', '/' + @earl.name.to_s + '/intro'}

  =stylesheet_link_tag 'photocracy/uploadify'
  =javascript_include_tag 'photocracy/swfobject.js', 'photocracy/jquery.uploadify.v2.1.0.min.js'

  :javascript
    $(document).ready(function() {
      $('#upload_submit').hide();
    	$("#uploadify").uploadify({
    		'uploader'       : '/javascripts/photocracy/uploadify.swf',
    		'script'         : "upload_photos",
    		'cancelImg'      : '/images/photocracy/cancel.png',
    		'queueID'        : 'fileQueue',
    		'auto'           : true,
    		'multi'          : true,
        'fileDesc'       : 'Only jpg, png, and gif files allowed (smaller than 5 MB)',
        'fileExt'        : '*.jpg;*.jpeg;*.png;*.gif',
    		'width'          : '222',
    		'height'         : '48',
    		'wmode'          : 'transparent',
    		'buttonImg'      : '/images/photocracy/upload_photos.png',
    		scriptData       : {
          'session_identifier' : "#{request.session_options[:id]}",
          'authenticity_token'  : AUTH_TOKEN
        },
        onComplete       : function() {
          var photos_needed = decrement($('#photos_needed').text());
          if (photos_needed > 0) {
            $('#photos_needed').text(photos_needed);
          } else {
            $('#status_message').html("You've uploaded the minimum number of photos. <span class='normal'>(But the more you add the better!)</span>");
            $('#status_message').css('color', 'green');
            $('#done_button').show();
          }
        }
    	});
    });
