-@the_id = params[:question_id].nil? ? params[:id] : params[:question_id]
-@cast_votes_url = url_for(:action => :show, :controller => :earls, :id => @the_id)
-@results_url = url_for(:action => :results, :controller => :questions, :id => @the_id)
-@manage_url = url_for(:action => :admin, :controller => :questions, :id => @the_id)
-@all_results_url = url_for(:action => :results, :controller => :questions, :id => @the_id, :more => true)
-@about_url= url_for(:action => :about, :controller => :questions, :id => @the_id)

.vote-nav
  %ul.tabs
    %li.vote_tab.current_tab.tab
      %a{:href => '#page1'}
        #{t('vote.cast_votes')} 
    %li.results_tab.tab
      = link_to t('nav.view_results'), url_for(:action => :results, :controller => :questions, :id => @the_id, :widget => true), :id => 'view_results_link'
    %li.about_tab.tab
      %a{:href => '#page3'}
        #{t('nav.about')}
  .clear
