-form_tag "items_path" do

  #the_add_box
    - box_text = t('vote.add_your_idea')
    .alert.alert-success.idea-success.hide
      %a.close{:type => 'button', :"data-dismiss" => 'alert'} &times;
      %p
    %p.add-idea
      %textarea#new_idea_field.new_idea_field{:placeholder => box_text, :maxlength => Const::MAX_ITEM_LENGTH, :rows => 2, :name => 'new_idea'}
    = hidden_field_tag 'default_text', box_text
    = hidden_field_tag 'question_id', @question_id 
    %p
      .pull-left
        .new_idea_counter
      .pull-right
        %button#submit_btn.btn.btn-primary{:"data-question_id" => @question.id}
          =t('vote.submit')
