@import "mixins";

body {
  background: -moz-linear-gradient(#fff, #eee);
}

html {
  background: #eee;
}

#hd {
  padding-top: 1em;
}

h1 {
  text-shadow: 1px 1px #ddd;
}

#vs {
  background: #ccc;
  color: #fff;
  padding: 7px 10px;
  width: 30px;
  margin: 0 auto;
  @include rounded(100px);
  margin-top: 150px;
  @include box-shadow(2px, 2px, 2px, #fff);
  font-size: 170%;
  margin-bottom: 5em;
}

.photo_frame {
  display: block;
  border: 1px solid #000;
  height: 350px;
  overflow: hidden;
  @include box-shadow(1px, 10px, 10px, #ccc);
}

a.photo_frame:hover {
  border: 1px solid #2b6fc0;
  cursor: pointer;
}

.click_to_vote {
  margin-top: 150px;
  text-align: center;
}

.button {
  padding: .5em 2.5em;
  @include marble-fade();
  border: 1px solid #666;
  font-weight: bold;
  color: #333;
  font-size: 17px;
  text-shadow: #fff -2px 0px 10px;
  display: inline-block;
  text-decoration: none;
  @include box-shadow();
  @include rounded(5px);
}

.button:hover {
  background: #fff;
  text-shadow: none;
  border: 1px solid #333; 
}

.button.blue {
  @include marble-fade(#2b6fc0);
  border: 1px solid #327FDB;
  color: #fff;
  text-shadow: #235a9b -2px 0px 10px;
}

.button.blue:hover {
  border: 1px solid #235a9b;
  text-shadow: #235a9b -2px 0px 5px;
}

#secondary_content {
  .grid_4 {
    background: #fff;
    width: 32.93%;
    margin: 0 .2%;
    border-bottom: 1px solid #db9327;
  }
  
  h5 {
    @include fade-down(#db9327);
    color: #000;
    text-align: center;
    padding: 1em;
    text-shadow: #fff 1px 1px 2px;
  }
  
  img {
    vertical-align: middle;
  }
}

ul.your_votes {
  line-height: 75px;
  margin: 0;
  list-style-type: none;
  
  li {
    margin: 0;
  }
}


ul.results {
  list-style-type: none;
  
  li {
    margin: 0;
    padding: .5em;
    
    a {
      padding: .5em;
      border: 1px solid #ccc;
      -moz-border-radius: 5px;
      text-decoration: none;
      color: #000;
      display: inline-block;
      
      .active, .active:hover {
        background: #ccc;
        font-weight: bold;
      }
    }
  }
}

p.results_label {
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  color: #666;
}

p.score_explanation {
  font-style: italic;
  color: #666;
}

#results #hd {
	text-align: center;
	position: fixed;
	top: 0px;
	width: 100%;
	background: #eee url(../../images/photocracy/hd_fade.png) bottom repeat-x;
}

#ft {
	margin-top: 2em;
  color: #999;
  text-align: center;
  padding: 1em;
  
  a {
    color: #999;
  }
}

#results #primary_content {
  margin-top: 8em;
}

.loading {
	background: #fff url(../../images/photocracy/spinner.gif) center center no-repeat !important;
}

.chosen {
	background: #fff url(../../images/photocracy/chosen.png) center center no-repeat !important;
}

.center {
  text-align: center;
}

.no_margin {
  margin: 0;
}

.padding {
  padding: 1em;
}

.normal {
  font-weight: normal;
}

.margin_bottom {
  overflow: hidden;
  margin-bottom: 2em;
}

.gray {
  color: #666;
}
