body {
  background: -moz-linear-gradient(white, #eeeeee); }

html {
  background: #eee; }

#hd {
  padding-top: 1em; }

h1 {
  text-shadow: 1px 1px #ddd; }

#vs {
  background: #ccc;
  color: #fff;
  padding: 7px 10px;
  width: 30px;
  margin: 0 auto;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  margin-top: 150px;
  box-shadow: 2px 2px 2px white;
  -moz-box-shadow: 2px 2px 2px white;
  -webkit-box-shadow: 2px 2px 2px white;
  font-size: 170%;
  margin-bottom: 5em; }

#prompt {
  margin-bottom: -20px; }

a.photo_frame {
  display: block;
  height: 350px;
  overflow: hidden;
  text-decoration: none; }
  a.photo_frame table {
    text-align: center;
    valign: middle;
    height: 100%;
    width: 100%; }
    a.photo_frame table td {
      vertical-align: middle; }
  a.photo_frame img {
    border: 3px solid #000; }

a.photo_frame:hover {
  cursor: pointer; }

.click_to_vote {
  position: relative;
  top: -60%;
  z-index: 5;
  text-align: center;
  color: #000;
  background: #fff;
  opacity: 0.8;
  width: 160px;
  margin: 0 auto;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 2px 2px 2px black;
  -moz-box-shadow: 2px 2px 2px black;
  -webkit-box-shadow: 2px 2px 2px black;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px; }

.button {
  padding: .5em 2.5em;
  background: #cccccc;
  background: -moz-linear-gradient(white, #cccccc);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1, white), color-stop(0, #cccccc));
  border: 1px solid #666;
  font-weight: bold;
  color: #333;
  font-size: 17px;
  text-shadow: #fff -2px 0px 10px;
  display: inline-block;
  text-decoration: none;
  box-shadow: 1px 3px 3px #333333;
  -moz-box-shadow: 1px 3px 3px #333333;
  -webkit-box-shadow: 1px 3px 3px #333333;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.button:hover {
  background: #fff;
  text-shadow: none;
  border: 1px solid #333; }

.button.blue {
  background: #2b6fc0;
  background: -moz-linear-gradient(#9bbfe9, #2b6fc0);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1, #9bbfe9), color-stop(0, #2b6fc0));
  border: 1px solid #327FDB;
  color: #fff;
  text-shadow: #235a9b -2px 0px 10px; }

.button.blue:hover {
  border: 1px solid #235a9b;
  text-shadow: #235a9b -2px 0px 5px; }

#secondary_content .grid_4 {
  background: #fff;
  width: 32.93%;
  margin: 0 .2%;
  border-bottom: 1px solid #fa7f00;
  min-height: 200px; }
#secondary_content h5 {
  background: #fa7f00;
  background: -moz-linear-gradient(#c76500, #fa7f00, #fa7f00, #fa7f00);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1, #c76500), color-stop(0.8, #fa7f00));
  color: #000;
  text-align: center;
  padding: 5px;
  text-shadow: #fff 1px 1px 2px; }
#secondary_content img {
  vertical-align: middle; }

ul#your_votes {
  line-height: 75px;
  margin: 0;
  list-style-type: none; }
  ul#your_votes li {
    margin: 0; }
  ul#your_votes img.loser {
    opacity: 0.5; }

ul.results {
  list-style-type: none; }
  ul.results li {
    margin: 0;
    padding: .5em; }
    ul.results li a {
      padding: .5em;
      -moz-border-radius: 5px;
      text-decoration: none;
      color: #000;
      display: inline-block;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px; }
    ul.results li a.active, ul.results li a.active:hover {
      background: #fa7f00;
      font-weight: bold;
      color: #fff; }
    ul.results li a:hover {
      background: #ccc; }

p.results_label {
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  color: #666; }

p.score_explanation {
  font-style: italic;
  color: #666; }

#results #hd {
  text-align: center;
  position: fixed;
  top: 0px;
  width: 100%;
  background: #eeeeee url(../../images/photocracy/hd_fade.png) bottom repeat-x; }

#ft {
  margin-top: 2em;
  color: #999;
  text-align: center;
  padding: 1em; }
  #ft a {
    color: #999; }

#results #primary_content {
  margin-top: 8em; }

.loading {
  background: url(../../images/photocracy/spinner_bounce.gif) center center no-repeat !important; }

.chosen {
  background: url(../../images/photocracy/chosen.png) center center no-repeat !important; }

table.admin th {
  padding: 10px; }
table.admin td {
  line-height: 50px;
  padding: 10px; }
table.admin img {
  vertical-align: middle; }

strong, .strong {
  font-weight: bold; }

.center {
  text-align: center; }

.no_margin {
  margin: 0; }

.padding {
  padding: 1em; }

.normal {
  font-weight: normal; }

.float_left {
  float: left;
  margin-right: 10px; }

.margin_bottom {
  overflow: hidden;
  margin-bottom: 2em; }

.small_margin_bottom {
  margin-bottom: 5px; }

.gray, a.gray, .Deactivated, .deactivated {
  color: #666; }

.microcopy {
  color: #666;
  font-size: .8em; }
