.abingo_dashboard
  %p
    %h1 Welcome to your A/Bingo dashboard!

  %p
    %h2 All Experiments
  
  %table.full.tablesorter
    %thead
      %tr.row0
        %th &nbsp;
        %th Name
        %th Num Sessions
        %th Conversions [?]
        %th Conversion %
        %th Status
        %th Detailed Stats
    %tbody
      - @experiments.each do |experiment|
        = render :partial => "experiment_row", :locals => {:experiment => experiment}



-content_for :head do
  = javascript_include_tag 'jquery.tablesorter.mod.js', 'jquery.tablesorter.collapsible.js'

- content_for :view_javascript do
  :plain
    $('.tablesorter').collapsible('td.collapsible', {collapse:true}).tablesorter(
      { headers: {0: {sorter: false}}, widgets:['zebra']});
  -#$('.tablesorter').bind('sortEnd', function() {
  -#$('.tablesorter tbody tr:nth-child(odd)').removeClass('row1 row2').addClass('row1');
  -#$('.tablesorter tbody tr:nth-child(even)').removeClass('row1 row2').addClass('row2');});
  $('.tablesorter thead tr th').hover(function() { $(this).addClass("headerOver"); } , function() { $(this).removeClass("headerOver"); });
