%h1= "Automatically found groups of Ab test experiments"
-@grouped_experiments.each do |group, experiment_list|
  =link_to(group, :action => :show_set, :id => experiment_list.map{|e| e.id}.join(','))
  %br

