- (0..(@images.length / 4)).each do |row|
  .row
    - index = 0
    - @images.each do |image, url|
      - if index < row * 4 + 4 && index >= row * 4
        .span4
          = image_tag("wikipedia/ad/#{image}.png")
          %p
            = link_to "More information", url
      - index += 1
