/* line 1, app/assets/stylesheets/sass/screen_bak.sass */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 10px 50px;
}

/* line 8, app/assets/stylesheets/sass/screen_bak.sass */
.content {
  margin: auto;
  min-width: 600px;
  width: 85%;
  overflow: hidden;
}

/* line 13, app/assets/stylesheets/sass/screen_bak.sass */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 18, app/assets/stylesheets/sass/screen_bak.sass */
a {
  color: #00F;
}

/* line 20, app/assets/stylesheets/sass/screen_bak.sass */
a:visited {
  color: #00F;
}

/* line 22, app/assets/stylesheets/sass/screen_bak.sass */
a:hover {
  color: #99F;
}

/* line 24, app/assets/stylesheets/sass/screen_bak.sass */
.error, .errorExplanation {
  color: #F00;
}

/* line 26, app/assets/stylesheets/sass/screen_bak.sass */
.notice {
  color: #090;
}

/* line 29, app/assets/stylesheets/sass/screen_bak.sass */
table.results {
  border: #000 solid 1px;
  padding: 2em 1em;
}

/* line 33, app/assets/stylesheets/sass/screen_bak.sass */
table.results tr td {
  padding: 0.2em 1em;
}

/* line 35, app/assets/stylesheets/sass/screen_bak.sass */
table.vote {
  width: 600px;
  margin: auto;
}

/* line 38, app/assets/stylesheets/sass/screen_bak.sass */
table.vote td {
  padding: 1em;
  border: #000 solid 1px;
  text-align: center;
}

/* line 42, app/assets/stylesheets/sass/screen_bak.sass */
table.vote td.items {
  font-size: 18px;
  width: 50%;
}

/* line 45, app/assets/stylesheets/sass/screen_bak.sass */
table.vote td.question {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
}

/* line 49, app/assets/stylesheets/sass/screen_bak.sass */
table.vote td.skip {
  border: none;
}

/* line 51, app/assets/stylesheets/sass/screen_bak.sass */
table.vote td.plain {
  border: none;
  padding: 1em 0 0;
}

/* line 54, app/assets/stylesheets/sass/screen_bak.sass */
table.vote td.left {
  text-align: left;
}

/* line 56, app/assets/stylesheets/sass/screen_bak.sass */
table.vote td.right {
  text-align: right;
}

/* line 58, app/assets/stylesheets/sass/screen_bak.sass */
table.form {
  width: 600px;
}

/* line 60, app/assets/stylesheets/sass/screen_bak.sass */
table.form td {
  padding: 0.5em 0;
}

/* line 62, app/assets/stylesheets/sass/screen_bak.sass */
table.form td.label {
  font-weight: bold;
  font-size: 12px;
  padding: 0.5em 0.5em 0.5em 0em;
  width: 14em;
  text-align: right;
}

/* line 68, app/assets/stylesheets/sass/screen_bak.sass */
ul.nav {
  margin-top: 1.5em;
  padding: 0 0 2em 0;
  border-top: 1px solid #666;
}

/* line 72, app/assets/stylesheets/sass/screen_bak.sass */
ul.nav li {
  list-style: none;
  padding: 0.5em 1em 0;
  float: left;
}

/* line 76, app/assets/stylesheets/sass/screen_bak.sass */
.footer {
  margin: 0.5em 0  1em 0;
}
