/* line 2, app/assets/stylesheets/sass/screen.sass */
a img, a:active {
  border: none;
}

/* line 5, app/assets/stylesheets/sass/screen.sass */
.center {
  text-align: center;
}

/* line 8, app/assets/stylesheets/sass/screen.sass */
.full {
  width: 100%;
}

/* line 11, app/assets/stylesheets/sass/screen.sass */
.half {
  width: 50%;
}

/* line 14, app/assets/stylesheets/sass/screen.sass */
.ninety {
  width: 90%;
}

/* line 17, app/assets/stylesheets/sass/screen.sass */
input.text {
  border: 1px solid #919191;
  padding: 3px 3px 2px;
}

/* line 21, app/assets/stylesheets/sass/screen.sass */
.padding {
  margin: 5px 0px;
}

/* line 24, app/assets/stylesheets/sass/screen.sass */
table {
  text-align: left;
  border-collapse: collapse;
}

/* line 27, app/assets/stylesheets/sass/screen.sass */
table td, table th {
  padding: 5px;
}

/* line 29, app/assets/stylesheets/sass/screen.sass */
table .row0 {
  background-color: #3198c1;
  color: white;
}

/* line 32, app/assets/stylesheets/sass/screen.sass */
table .row0 a {
  color: white;
  text-decoration: underline;
}

/* line 35, app/assets/stylesheets/sass/screen.sass */
table .row0 th.score {
  width: 95px;
}

/* line 37, app/assets/stylesheets/sass/screen.sass */
table .row1 {
  background-color: #fafafa;
}

/* line 39, app/assets/stylesheets/sass/screen.sass */
table .row2 {
  background-color: #fefefe;
}

/* line 41, app/assets/stylesheets/sass/screen.sass */
table .thin td {
  padding: 2px 5px;
  height: 2px;
}

/* line 44, app/assets/stylesheets/sass/screen.sass */
table .votes {
  min-width: 90px;
}

/* line 46, app/assets/stylesheets/sass/screen.sass */
table.recent-winners td {
  text-align: center;
}

/* line 48, app/assets/stylesheets/sass/screen.sass */
table.item td:last-child {
  font-weight: bold;
}

/* line 50, app/assets/stylesheets/sass/screen.sass */
table.left {
  margin: 0;
}

/* line 52, app/assets/stylesheets/sass/screen.sass */
table.signup td {
  max-width: 400px;
}

/* line 56, app/assets/stylesheets/sass/screen.sass */
.create-question h2 {
  padding-bottom: 0px;
}

/* line 58, app/assets/stylesheets/sass/screen.sass */
.create-question p {
  padding: 15px 25px;
  font-size: 14px;
}

/* line 61, app/assets/stylesheets/sass/screen.sass */
.create-question p.ideas {
  padding-bottom: 10px;
  padding-right: 400px;
}

/* line 64, app/assets/stylesheets/sass/screen.sass */
.create-question .fieldWithErrors {
  padding: 2px 0 3px;
  border: 1px solid #ff6464;
}

/* line 68, app/assets/stylesheets/sass/screen.sass */
.errorExplanation {
  color: #FFF;
  background: #ff6464;
  padding: 8px 5px;
  border: 1px solid #000;
}

/* line 73, app/assets/stylesheets/sass/screen.sass */
.errorExplanation h2 {
  color: #FFF;
}

/* line 75, app/assets/stylesheets/sass/screen.sass */
.errorExplanation ul li {
  margin-left: 40px;
}

/* line 78, app/assets/stylesheets/sass/screen.sass */
.header.row-fluid {
  margin-top: 10px;
}

/* line 80, app/assets/stylesheets/sass/screen.sass */
.header.row-fluid .nav {
  margin-top: 10px;
  text-transform: uppercase;
}

/* line 83, app/assets/stylesheets/sass/screen.sass */
.header.row-fluid a.logo {
  display: block;
  margin-bottom: 1em;
}

/* line 86, app/assets/stylesheets/sass/screen.sass */
.header.row-fluid a.logo:hover {
  border: none;
}

/* line 89, app/assets/stylesheets/sass/screen.sass */
.bread-crumb {
  color: #54afe2;
}

/* line 92, app/assets/stylesheets/sass/screen.sass */
.body {
  padding: 0 0 30px;
}

/* line 94, app/assets/stylesheets/sass/screen.sass */
.body .center img {
  padding: 0px 0px 30px 0px;
}

/* line 96, app/assets/stylesheets/sass/screen.sass */
.body .triple-left {
  min-height: 150px;
}

/* line 99, app/assets/stylesheets/sass/screen.sass */
.body #body .triple-center, .body #body .triple-right {
  min-height: 150px;
}

/* line 102, app/assets/stylesheets/sass/screen.sass */
.triple-left, .triple-center, .triple-right, .double-left {
  float: left;
}

/* line 105, app/assets/stylesheets/sass/screen.sass */
.noborder {
  border: none;
}

/* line 108, app/assets/stylesheets/sass/screen.sass */
.image-example {
  border: 2px solid #eeeeee;
  width: 250px;
  margin: 0px 0px 10px;
}

/* line 113, app/assets/stylesheets/sass/screen.sass */
.button {
  border: 1px solid #3198c1;
  width: 125px;
  padding: 2px 0px;
  background-color: #54afe2;
  text-align: center;
  float: left;
}

/* line 121, app/assets/stylesheets/sass/screen.sass */
.button-link {
  color: white;
}

/* line 124, app/assets/stylesheets/sass/screen.sass */
.button:hover {
  border: 1px solid #3198c1;
}

/* line 127, app/assets/stylesheets/sass/screen.sass */
.triple-left {
  border-right: 1px dotted #d8dbdc;
  padding: 0px 15px 2px 0px;
  width: 264px;
}

/* line 132, app/assets/stylesheets/sass/screen.sass */
.triple-center {
  border-right: 1px dotted #d8dbdc;
  padding: 0px 15px 2px 15px;
  width: 249px;
}

/* line 137, app/assets/stylesheets/sass/screen.sass */
.triple-right {
  padding: 0px 0px 2px 15px;
  width: 265px;
}

/* line 141, app/assets/stylesheets/sass/screen.sass */
.double-left {
  padding: 0px 15px 2px 0px;
  width: 545px;
}

/* line 145, app/assets/stylesheets/sass/screen.sass */
.vote-question {
  background-color: white;
  text-align: center;
  padding: 15px 15px;
  color: #333;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}

/* line 154, app/assets/stylesheets/sass/screen.sass */
.votebox {
  margin-top: 20px;
}

/* line 157, app/assets/stylesheets/sass/screen.sass */
.skip {
  margin: 10px 0;
}

/* line 159, app/assets/stylesheets/sass/screen.sass */
.right-border {
  border-right: 1px dotted #D8DBDC;
}

/* line 162, app/assets/stylesheets/sass/screen.sass */
.footer {
  border-top: 1px solid #d9d9d9;
  background-color: #f2f2f2;
  color: #989898;
  padding: 20px;
  font-size: 12px;
  line-height: 13px;
}

/* line 169, app/assets/stylesheets/sass/screen.sass */
.footer a {
  color: #989898;
}

/* line 171, app/assets/stylesheets/sass/screen.sass */
.footer .breadcrumb {
  padding-left: 0;
  background-color: inherit;
  margin-bottom: 0;
}

/* line 176, app/assets/stylesheets/sass/screen.sass */
div.bar-chart {
  border: 1px solid #ccc;
  width: 250px;
  margin: 2px 5px 2px 0;
  padding: 1px;
  float: left;
  background: white;
}

/* line 183, app/assets/stylesheets/sass/screen.sass */
div.bar-chart > div {
  background-color: #797979;
  height: 12px;
  margin: 0;
}

/* line 188, app/assets/stylesheets/sass/screen.sass */
hr {
  border: none;
  border-bottom: 1px dotted #BBB;
  margin: 0 0 15px 0;
}

/* line 193, app/assets/stylesheets/sass/screen.sass */
.form-btn {
  color: #000;
}

/* line 196, app/assets/stylesheets/sass/screen.sass */
.error, .notice, .vote-notice {
  color: #FFF;
  background-color: #ff6464;
  margin: -10px 10em 25px;
  text-align: center;
  font-size: 13px;
}

/* line 203, app/assets/stylesheets/sass/screen.sass */
.notice {
  background-color: #FFC;
  border: 1px solid #797979;
  color: #797979;
  text-align: left;
  padding: 5px 10px;
  margin: 0 40px 25px;
}

/* line 210, app/assets/stylesheets/sass/screen.sass */
.notice span.close {
  display: block;
  text-align: right;
}

/* line 213, app/assets/stylesheets/sass/screen.sass */
.notice span.close:hover {
  border: none;
}

/* line 216, app/assets/stylesheets/sass/screen.sass */
.vote-notice {
  background-color: #0B0;
}

/* line 219, app/assets/stylesheets/sass/screen.sass */
.border *, .border-thick *, .round-filled *, .round-filled-grey * {
  font-size: 0.01px;
  line-height: 0.01px;
  display: block;
  height: 1px;
  overflow: hidden;
  padding: 0px;
}

/* line 227, app/assets/stylesheets/sass/screen.sass */
.border-top, .border-bottom, .border2, .round-filled-top, .round-filled-bottom, .round-filled-grey-top, round-filled-grey-top {
  padding-left: 1px;
  padding-right: 1px;
}

/* line 231, app/assets/stylesheets/sass/screen.sass */
.border-top, .border-bottom {
  margin-left: 3px;
  margin-right: 3px;
}

/* line 235, app/assets/stylesheets/sass/screen.sass */
.border-top {
  border-bottom: 1px solid #e9e9e9;
}

/* line 238, app/assets/stylesheets/sass/screen.sass */
.border-bottom {
  border-top: 1px solid #e9e9e9;
}

/* line 241, app/assets/stylesheets/sass/screen.sass */
.border2, .border3, .border4, .border5, .borderfg {
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}

/* line 245, app/assets/stylesheets/sass/screen.sass */
.border2, .border3 {
  margin-left: 1px;
  margin-right: 1px;
}

/* line 249, app/assets/stylesheets/sass/screen.sass */
.border-thick-top {
  border-bottom: 2px solid #e9e9e9;
}

/* line 252, app/assets/stylesheets/sass/screen.sass */
.border-thick-bottom {
  border-top: 2px solid #e9e9e9;
}

/* line 255, app/assets/stylesheets/sass/screen.sass */
.border-thick2, .border-thick3, .border-thick4, .border-thick5, .border-thickfg {
  border-left: 2px solid #e9e9e9;
  border-right: 2px solid #e9e9e9;
}

/* line 259, app/assets/stylesheets/sass/screen.sass */
.round-filled-top, .round-filled-bottom {
  margin-left: 3px;
  margin-right: 3px;
  border-left: 1px solid #3198c1;
  border-right: 1px solid #3198c1;
  background: #3198c1;
}

/* line 266, app/assets/stylesheets/sass/screen.sass */
.round-filled-grey-top, .round-filled-grey-bottom {
  margin-left: 3px;
  margin-right: 3px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  background: #cccccc;
}

/* line 273, app/assets/stylesheets/sass/screen.sass */
.round-filled-grey2, .round-filled-grey3, .round-filled-grey4, .round-filled-grey5, .round-filled-greyfg {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  background: #cccccc;
  color: #686868;
}

/* line 279, app/assets/stylesheets/sass/screen.sass */
.round-filled2, .round-filled3, .round-filled4, .round-filled5, .round-filledfg {
  border-left: 1px solid #3198c1;
  border-right: 1px solid #3198c1;
  background: #3198c1;
}

/* line 284, app/assets/stylesheets/sass/screen.sass */
.rounded {
  border-radius: 5px;
  -moz-border-radius: 5px;
}

/* line 288, app/assets/stylesheets/sass/screen.sass */
.round-filled2, .round-filled3, .round-filled-grey2, .round-filled-grey3 {
  margin-left: 1px;
  margin-right: 1px;
}

/* line 292, app/assets/stylesheets/sass/screen.sass */
div.form_field {
  position: relative;
  float: left;
}

/* line 296, app/assets/stylesheets/sass/screen.sass */
label.over-apply {
  color: #ccc;
  position: absolute;
  top: 0px;
  left: 5px;
}

/* line 303, app/assets/stylesheets/sass/screen.sass */
table.tablesorter thead tr .header {
  padding-right: 12px;
  background-image: url(/../images/bg-invert.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

/* line 310, app/assets/stylesheets/sass/screen.sass */
table.tablesorter tbody td {
  color: #3D3D3D;
  padding: 4px;
  vertical-align: top;
}

/* line 315, app/assets/stylesheets/sass/screen.sass */
table.tablesorter tbody tr.odd td {
  background-color: #fafafa;
}

/* line 317, app/assets/stylesheets/sass/screen.sass */
table.tablesorter tbody tr.even td {
  background-color: #fefefe;
}

/* line 320, app/assets/stylesheets/sass/screen.sass */
table.tablesorter thead tr .headerSortUp {
  background-image: url(/../images/asc-invert.gif);
}

/* line 322, app/assets/stylesheets/sass/screen.sass */
table.tablesorter thead tr .headerSortDown {
  background-image: url(/../images/desc-invert.gif);
}

/* line 325, app/assets/stylesheets/sass/screen.sass */
.twenty_pixel_font {
  font-size: 20px;
}

/* line 328, app/assets/stylesheets/sass/screen.sass */
.sixteen_pixel_font {
  font-size: 16px;
}

/* line 331, app/assets/stylesheets/sass/screen.sass */
.twelve_pixel_font {
  font-size: 12px;
}

/* line 334, app/assets/stylesheets/sass/screen.sass */
.active {
  color: #000000;
}

/* line 337, app/assets/stylesheets/sass/screen.sass */
.firsttime {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #4dbae6;
  color: #185b75;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #1f7293;
  padding: 4px;
  margin-bottom: 8px;
  display: none;
}

/* line 353, app/assets/stylesheets/sass/screen.sass */
.cant-decide {
  text-align: center;
}

/* line 357, app/assets/stylesheets/sass/screen.sass */
#cant_decide_options .cd_options {
  width: 100%;
  overflow: auto;
}

/* line 361, app/assets/stylesheets/sass/screen.sass */
.wider {
  color: #000000;
}

/* line 363, app/assets/stylesheets/sass/screen.sass */
.wider td {
  padding: 5px !important;
}

/* line 365, app/assets/stylesheets/sass/screen.sass */
.wider td.no_bottom_padding {
  padding-bottom: 0px !important;
}

/* line 367, app/assets/stylesheets/sass/screen.sass */
.wider td.no_top_padding {
  padding-top: 0px !important;
  vertical-align: top;
}

/* line 370, app/assets/stylesheets/sass/screen.sass */
.wider h2 {
  font-weight: bold;
  color: #3198c1;
}

/* line 374, app/assets/stylesheets/sass/screen.sass */
.cd_submit_button {
  padding: 5px 10px 5px 10px;
  background: #3198C1;
  cursor: pointer;
  color: #FFFFFF;
}

/* line 379, app/assets/stylesheets/sass/screen.sass */
.cd_submit_button:hover {
  background-color: #2B88AD;
}

/* line 382, app/assets/stylesheets/sass/screen.sass */
.add-idea-row {
  border-top: 10px solid white;
  padding: 0 5%;
}

/* line 386, app/assets/stylesheets/sass/screen.sass */
p.add-idea {
  margin-top: 30px;
}

/* line 389, app/assets/stylesheets/sass/screen.sass */
.add_idea {
  margin: 0;
}

/* line 391, app/assets/stylesheets/sass/screen.sass */
.add_idea a.add-idea-link {
  text-decoration: none;
  display: block;
  width: 300px;
}

/* line 395, app/assets/stylesheets/sass/screen.sass */
.add_idea .add_idea_button {
  padding: 5px 10px 5px 10px;
  width: 265px;
  height: 3em;
  display: table-cell;
  vertical-align: middle;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  background: #01bb00;
}

/* line 405, app/assets/stylesheets/sass/screen.sass */
.add_idea .add_idea_button a {
  color: #FFFFFF;
}

/* line 407, app/assets/stylesheets/sass/screen.sass */
.add_idea .add_idea_button:hover {
  background: #228b53;
}

/* line 410, app/assets/stylesheets/sass/screen.sass */
.add_container {
  height: 12em;
}

/* line 413, app/assets/stylesheets/sass/screen.sass */
.no_bottom_padding {
  padding-bottom: 0px !important;
}

/* line 416, app/assets/stylesheets/sass/screen.sass */
.question-admin-form {
  margin-top: 20px;
}

/* line 419, app/assets/stylesheets/sass/screen.sass */
.question-admin-form .form-horizontal .controls {
  margin-left: 190px;
}

/* line 421, app/assets/stylesheets/sass/screen.sass */
.question-admin-form .form-horizontal .control-label {
  width: 170px;
}

/* line 426, app/assets/stylesheets/sass/screen.sass */
.ideas-table tbody tr {
  cursor: pointer;
}

/* line 430, app/assets/stylesheets/sass/screen.sass */
.ideas-table td.choice-progress .progress {
  margin-bottom: 0;
  float: left;
  width: 80%;
}

/* line 434, app/assets/stylesheets/sass/screen.sass */
.ideas-table td.choice-progress .score {
  font-size: 120%;
}

/* line 437, app/assets/stylesheets/sass/screen.sass */
.vote-count-span {
  text-align: center;
}

/* line 440, app/assets/stylesheets/sass/screen.sass */
.rightside .flag {
  text-align: right;
}

@media (max-width: 767px) {
  /* line 444, app/assets/stylesheets/sass/screen.sass */
  .rightside .flag {
    text-align: left;
  }
}

/* line 448, app/assets/stylesheets/sass/screen.sass */
.navbar-aoi .btn-navbar {
  float: right;
}

/* line 450, app/assets/stylesheets/sass/screen.sass */
.navbar-aoi .navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #333333;
  background-image: -moz-linear-gradient(top, #3d3d3d, #2c2c2c);
  background-image: -ms-linear-gradient(top, #3d3d3d, #2c2c2c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3d3d3d), to(#2c2c2c));
  background-image: -webkit-linear-gradient(top, #3d3d3d, #2c2c2c);
  background-image: -o-linear-gradient(top, #3d3d3d, #2c2c2c);
  background-image: linear-gradient(top, #3d3d3d, #2c2c2c);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#3d3d3d', endColorstr='#2c2c2c', GradientType=0);
}

/* line 466, app/assets/stylesheets/sass/screen.sass */
.navbar-aoi .nav .active > a, .navbar-aoi .nav .active > a:hover, .navbar-aoi .nav .active > a:focus {
  background-color: transparent;
}

/* line 471, app/assets/stylesheets/sass/screen.sass */
.navbar-aoi .nav > li > a, .navbar-aoi .nav-collapse .dropdown-menu a {
  color: #999999;
}

/* line 473, app/assets/stylesheets/sass/screen.sass */
.navbar-aoi .nav-collapse .nav > li > a:hover, .navbar-aoi .nav-collapse .dropdown-menu a:hover {
  color: #F2F2F2;
}

@media (max-width: 767px) {
  /* line 476, app/assets/stylesheets/sass/screen.sass */
  .navbar-aoi {
    margin-left: -20px;
    margin-right: -20px;
  }
}

/* line 480, app/assets/stylesheets/sass/screen.sass */
.votebox.row {
  height: 128px;
  margin-bottom: 10px;
  overflow: hidden;
}

/* line 485, app/assets/stylesheets/sass/screen.sass */
.vote-table-div {
  overflow: hidden;
}

/* line 488, app/assets/stylesheets/sass/screen.sass */
.vote-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  *border-collapse: collapse;
  border-spacing: 0;
}

/* line 496, app/assets/stylesheets/sass/screen.sass */
.table-cell-btn {
  font-size: 20px;
  height: 126px;
  padding: 0 10px;
  display: table-cell;
}

/* line 502, app/assets/stylesheets/sass/screen.sass */
.progress-gray .bar {
  background-color: #dddddd;
  background-image: -ms-linear-gradient(top, #dddddd, #b5b5b5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddddd), to(#b5b5b5));
  background-image: -webkit-linear-gradient(top, #dddddd, #b5b5b5);
  background-image: -o-linear-gradient(top, #dddddd, #b5b5b5);
  background-image: linear-gradient(top, #dddddd, #b5b5b5);
  background-image: -moz-linear-gradient(top, #dddddd, #b5b5b5);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#dddddd', endColorstr='#b5b5b5', GradientType=0);
}

/* line 514, app/assets/stylesheets/sass/screen.sass */
.results-table-header {
  background-color: #f2f2f2;
}

/* line 516, app/assets/stylesheets/sass/screen.sass */
.results-table-header h3 {
  margin-top: 0;
  background-color: black;
  text-align: center;
  color: #fefefe;
  -moz-border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -khtml-border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
}

/* convert to nav-stacked styles */
@media (max-width: 767px) {
  /* line 532, app/assets/stylesheets/sass/screen.sass */
  .nav-tabs.vote-tabs {
    float: none;
    padding-right: 0;
    border-bottom: 0;
    margin-bottom: 1em;
  }
  /* line 537, app/assets/stylesheets/sass/screen.sass */
  .nav-tabs.vote-tabs li {
    float: none;
  }
  /* line 539, app/assets/stylesheets/sass/screen.sass */
  .nav-tabs.vote-tabs li > a {
    border: 1px solid #dddddd;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    margin-right: 0;
  }
  /* line 545, app/assets/stylesheets/sass/screen.sass */
  .nav-tabs.vote-tabs li:first-child > a {
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  /* line 552, app/assets/stylesheets/sass/screen.sass */
  .nav-tabs.vote-tabs li:last-child > a {
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  /* line 559, app/assets/stylesheets/sass/screen.sass */
  .nav-tabs.vote-tabs li > a:hover {
    z-index: 2;
    border-color: #dddddd;
  }
}

/* line 563, app/assets/stylesheets/sass/screen.sass */
.survey-image-col {
  margin-top: -40px;
}

/* line 566, app/assets/stylesheets/sass/screen.sass */
.survey-image-col .survey-image {
  position: relative;
  padding-right: 10px;
  bottom: -30px;
}

/* line 571, app/assets/stylesheets/sass/screen.sass */
.survey-image-col .survey-image-links {
  margin-top: 12px;
}

/* when less than 767px then nav is stacked so display image as normal */
@media (max-width: 767px) {
  /* line 576, app/assets/stylesheets/sass/screen.sass */
  .survey-image-col {
    margin: 0;
  }
  /* line 578, app/assets/stylesheets/sass/screen.sass */
  .survey-image-col .survey-image {
    position: static;
    margin-bottom: 10px;
  }
}

/* line 582, app/assets/stylesheets/sass/screen.sass */
#new_idea_field {
  font-size: 18px;
  line-height: 27px;
}

/* line 586, app/assets/stylesheets/sass/screen.sass */
.data-vis-header {
  padding-left: 15px;
}

/* line 589, app/assets/stylesheets/sass/screen.sass */
.aoi-hero-unit {
  text-align: center;
}

/* line 591, app/assets/stylesheets/sass/screen.sass */
.aoi-hero-unit .headline {
  font-weight: 200;
  margin: 1.5em 0 .5em;
}

/* line 594, app/assets/stylesheets/sass/screen.sass */
.aoi-hero-unit .sub-headline {
  font-size: 20px;
  font-weight: 200;
  color: #666666;
  line-height: 1.3;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

/* line 602, app/assets/stylesheets/sass/screen.sass */
.aoi-hero-unit .headline-buttons {
  margin-top: 2em;
}

/* line 606, app/assets/stylesheets/sass/screen.sass */
.descriptions h3 {
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1;
}

/* line 610, app/assets/stylesheets/sass/screen.sass */
.descriptions .row-fluid {
  margin-bottom: 6em;
}

/* line 612, app/assets/stylesheets/sass/screen.sass */
.descriptions .image {
  text-align: center;
}

/* line 614, app/assets/stylesheets/sass/screen.sass */
.descriptions .math-formula {
  margin-top: 3em;
}

@media (max-width: 480px) {
  /* line 619, app/assets/stylesheets/sass/screen.sass */
  .descriptions .row-fluid {
    margin-bottom: 3em;
  }
  /* line 621, app/assets/stylesheets/sass/screen.sass */
  .descriptions .math-formula, .descriptions .tux {
    margin: 0 0 1em 0;
  }
}

/* line 624, app/assets/stylesheets/sass/screen.sass */
.how-it-works {
  margin: 3em 0 6em;
  text-align: center;
}

/* line 628, app/assets/stylesheets/sass/screen.sass */
.how-it-works .divider-holder {
  position: relative;
}

/* line 630, app/assets/stylesheets/sass/screen.sass */
.how-it-works .divider {
  width: 78px;
  height: 350px;
  background-image: url(/../images/homepage/arrow.png);
  display: block;
  position: absolute;
  top: -20px;
  right: -50px;
}

/* line 638, app/assets/stylesheets/sass/screen.sass */
.how-it-works .participate-holder {
  padding: 0 30px;
  height: 200px;
}

/* line 642, app/assets/stylesheets/sass/screen.sass */
.how-it-works h3.title {
  color: #7d7d7d;
  text-transform: uppercase;
  font-weight: 200;
  line-height: 1em;
  font-size: 20px;
}

/* line 649, app/assets/stylesheets/sass/screen.sass */
.how-it-works .boxes {
  padding-top: 1em;
  background-color: #f2f2f2;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/* line 655, app/assets/stylesheets/sass/screen.sass */
.how-it-works .boxes h3 {
  margin-bottom: 0;
  line-height: 1em;
  color: #48a1db;
  padding: 0 20px;
}

/* line 661, app/assets/stylesheets/sass/screen.sass */
.how-it-works .boxes h3 a {
  color: #48a1db;
}

/* line 663, app/assets/stylesheets/sass/screen.sass */
.how-it-works .boxes h3 a:hover {
  text-decoration: none;
}

/* line 665, app/assets/stylesheets/sass/screen.sass */
.how-it-works .boxes p {
  padding: 0 20px;
}

/* line 668, app/assets/stylesheets/sass/screen.sass */
.overall-stats {
  font-weight: 200;
  text-align: center;
}

/* line 671, app/assets/stylesheets/sass/screen.sass */
.overall-stats .wiki-surveys-count, .overall-stats .votes-count, .overall-stats .ideas-count {
  font-weight: bold;
  font-size: 130%;
}

/* line 675, app/assets/stylesheets/sass/screen.sass */
.flexslider {
  padding: 0 70px;
  padding-background-color: #f5f5f5;
}

/* line 678, app/assets/stylesheets/sass/screen.sass */
.flexslider .slides {
  padding: 10px 0;
  background-color: #f5f5f5;
}

/* line 681, app/assets/stylesheets/sass/screen.sass */
.flexslider .slides li {
  padding: 0 10px;
}

/* line 683, app/assets/stylesheets/sass/screen.sass */
.flexslider .flex-direction-nav a {
  color: white;
  text-decoration: none;
}

@media (max-width: 480px) {
  /* line 687, app/assets/stylesheets/sass/screen.sass */
  .flexslider {
    padding: 0 45px;
  }
  /* line 689, app/assets/stylesheets/sass/screen.sass */
  .flex-direction-nav a {
    width: 45px;
  }
}
